<div id="collapse__practitioners--team-tab1" class="collapse show" data-parent="#collapse__practitioners">
    <div class="d-flex flex-wrap">

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Nejra Alispahic</h6>
            <div class="infotab__text">
                <p>My name is Nejra and I'm proud to be a teacher in Odyssey Nursery Burj and part of
                    our creative team. This is my 9th year in teaching children, our future creators,
                    leaders, singers, community helpers, etc. I worked for 5 years in an International
                    Montessori preschool in my home country and went through many courses and training
                    related to the Montessori approach and curriculum.&#8232;After moving to Dubai I got
                    an opportunity to develop new skills and meet different approaches in teaching in
                    the early years. This is my 4th year as a part of the KFG family and I feel truly
                    blessed to find my 2nd family here in Dubai. As a Reggio teacher, I believe that
                    every child is unique and deserves a caring, inspiring, and engaging atmosphere in
                    which to grow emotionally, intellectually, and socially.</p>

                <p>I have a true passion for working with our little ones. I strive to create an
                    environment that nurtures a child's growth in a natural, positive and fun way. I
                    believe that learning is a journey and adventure that should be presented to the
                    children through daily play and activities.</p>

                <p>I enjoy preparing science activities for my children as well as fun math play.
                    Children are curious explorers and our role as teachers is to ensure them an
                    inspiring environment, guide them through the process of learning and be their
                    partner in everyday play.</p>

                <p>Personally, I&rsquo;m married for two years and I love to travel and explore new
                    places. In my free time I&rsquo;m managing my Instagram page related to early years
                    development and activities. I also enjoy baking, music, relaxing on the beach, and
                    spending time with friends.</p>

                <p>I look forward to working together with you as partner in our children&rsquo;s growth
                    and development.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Nejra-Alispahic.jpg' }}"
                   class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Nejra-Alispahic.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Dalal Wahid</h6>

            <div class="infotab__text">
                <p>Preschool Teacher with 8 years of experience, teaching 3months to 5 years old in
                    classroom setting of up to 20 children. I have a diploma Cache level 3 in child
                    education.</p>

                <p>I&rsquo;m a proud Mom of two Handsome boys Hamza and Youssof . Cooking and Teaching
                    are my Passion.</p>

                <p>I have the ability to develop and implement activities that improves children&rsquo;s
                    learning and behavioral skills as well as confidence, self reliance and independent
                    learning.</p>

                <p>I make sure to communicate with parents and administrators regarding children&rsquo;s
                    growth and well-being.</p>

                <p>I love to do activities in a fun way and let children learn through play.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Dalal-Wahid.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Dalal-Wahid.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Donia Abdelghani Ismail</h6>

            <div class="infotab__text">
                <p>I decided to make a career change from the airline industry to the childhood field
                    because children and early years education are my passion and that is what I love to
                    do every day. And I believe with doing what I love to do will lead me to the way of
                    success and allow me to make the difference in my new field. With the Reggio Emilia
                    approach, I see that all children have the opportunity to show their talent, use
                    their imagination and creativity;</p>

                <p>My role as a teacher is to ensure health and safety of children and to provide them a
                    safe and nurturing environment that promotes knowledge and inspires a life-long love
                    of learning.</p>

                <p>My big satisfaction is when I see children happy during the day, feel secure in the
                    setting, pronounce their first words in French and leave every day with a desire to
                    come back again the next day.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Donia-Islamil.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Donia-Islamil.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Jacey Hacking</h6>

            <div class="infotab__text">
                <p>In line with the Reggio Emilia philosophies, I have learned how to adapt my teaching
                    method to best suit the child&rsquo;s learning style and sharing teaching idea with
                    colleagues. I complete an array of activities each day which involves developing a
                    concrete foundation for learners in their early childhood development stages through
                    a number of thoroughly planned activities. I am highly skilled in using the various
                    tools to make the teaching interesting and effective, and the Ability to create an
                    effective teaching method for the children. I am able to plan, collect material and
                    deliver the lessons in the class and to inspire the students for desired results in
                    the language teaching task. I have worked with special needs children and regular
                    children. For me working with children come&rsquo;s easily as it&rsquo;s my
                    passion.</p>

                <p>My favourite part of the day is circle time I get to greet all my children and we get
                    to learn new thing about the world together.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Jacey-Hacking.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Jacey-Hacking.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Leah Farasoa Razafindramiadana</h6>

            <div class="infotab__text">
                <p>As an early year teacher and a second parent of my student, help training
                    preschoolers need patience, sensitivity and always makes sure to give love and
                    gentle touch,&#160; treating them the same way, and benefit from everyday learning
                    skills. My favorite moment of the day is to see the kids excited when they enter the
                    classroom, hugging their friends, sharing toys, calling each other names with a
                    laugh, communicating even though they speak different languages seem to understand
                    each other, showing that they are happy in the nursery as their second home.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Leah-Razafindramiadana.jpg' }}"
                   class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Leah-Razafindramiadana.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Mona Rashwan</h6>

            <div class="infotab__text">
                <p>As a class teacher following the Reggio Emilia approach my role is to encouraging and
                    exposing children to a wide variety of educational opportunities, that encourage
                    self expression, communication,logical thinking and problems solving.. I see myself
                    more of a guide than a leader to give the children the chance to be in charge of the
                    direction they want to go and only enable the child to explore they way they want to
                    explore. As a teacher in Odyssey Nursery I ensure that each child gets the chance to
                    learn, explorer and grow in their own way. May favorite part of the day is when when
                    the children play outdoors and see how each and every one of them has his/her own
                    different interests and way of exploring the world around him/her.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Mona-Rashwan.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Mona-Rashwan.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Sheyla Viana Kaminski Sanches</h6>

            <div class="infotab__text">
                <p>As an early year&rsquo;s teacher, I am responsible for creating a positive learning
                    environment for my class.</p>

                <p>In this stage, children should be learning from the environment and experiences,
                    providing, and creating different learning ways through play, helping them
                    experience joy and satisfaction in learning, always making them feel free to be
                    creative and express themselves.</p>

                <p>I have a true passion for working with Early Years, and I aspire to see children grow
                    into adults who are independent, responsible, and compassionate innovators.</p>

                <p>Helping each child progress in all areas of their development is a challenge that I
                    am honored to accept daily.</p>

                <p>Supporting children to achieve their highest potential has been very rewarding.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Sheyla-Sanches.jpg' }}"
                   class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Sheyla-Sanches.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Tima Khalifeh</h6>

            <div class="infotab__text">
                <p>I believe that the Reggio Emilia approach allows children to explore the world
                    differently; they get to live, explore and enjoy all the activities they do while
                    feeling connected to the world and nature. This allows the child&rsquo;s imagination
                    to be as free and independent as it can be. As a teacher at Odyssey nursery, I
                    ensure that the child feels loved, seen, accepted and heard. My favorite time of the
                    day is when the children are doing an activity and they are exploring something new
                    that provokes their imagination and they start expressing how they feel about
                    it.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Tima-Khalifeh.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Tima-Khalifeh.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Zeina Malhis</h6>

            <div class="infotab__text">
                <p>I graduated from faculty of French litterateur from the university of Aleppo and
                    early childhood education from LAU CEP in Beirut . I have 12 years of experience as
                    an early childhood teacher. I&rsquo;m also a Zumba instructor for adults and kids
                    with 5 years of experience.</p>

                <p>I am confident with a proven record to provide a safe, positive, creative, and
                    nurturing learning environment for preschoolers and toddlers.</p>

                <p>I love working with kids because for me the children make your life important.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Zeina-Mathis.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Zeina-Mathis.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

    </div>

</div>