<div id="collapse__practitioners--team-tab4" class="collapse" data-parent="#collapse__practitioners">
    <div class="d-flex flex-wrap">

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Aya Ayoubi</h6>

            <div class="infotab__text">
                <p>I am so excited to be part of your child's learning journey adventure.</p>

                <p>I am from Syria, my passion for art, books, history, and music started when I was so
                    young and impacted all the aspects of my life.</p>

                <p>I studied the Economy, financial markets in Syria after that I discovered my passion
                    for teaching, so I studied in the European Institute for early years education and I
                    worked as KG1, KG2 classroom teacher for 3 years in a Syrian school in my city
                    Aleppo.</p>

                <p>I came to UAE in 2008 and I spend more time as a mother for lovely two kids.</p>

                <p>I returned to work again as a teacher in 2014 with the EYFS curriculum.</p>

                <p>Then I joined my lovely family in Odyssey Nursery in 2015 till now.</p>

                <p>In 2018 I finished my Cache level 3 in early years education from the UK.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Aya-Ayoubi.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Aya-Ayoubi.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Karin Smith</h6>

            <div class="infotab__text">
                <p>My name is Karin Smith, 28-year-old and the lead teacher of Willows classroom in
                    Odyssey nursery Khalifa city. I have my own family with one 6-year-old daughter.</p>

                <p>I hold a CACHE Level 3 diploma in early years education, as well as a diploma in
                    Psychology, currently furthering studies pursuing my BS in Health Science.</p>

                <p>After working in Early years for more than 4 years now and raising a pre-schooler of
                    my own, seeing children grow, develop, and learn with my assistance motivated me to
                    try again every day. I believe that children are very capable human beings and that
                    we can learn just as much from them as they do from us, remembering to always be the
                    best role model while children are looking.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Karin-Smith.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Karin-Smith.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Catherine Youssef</h6>

            <div class="infotab__text">
                <p>My name is Catherine Youssef and this is my fourth year as an Early Years Educator;
                    my second year here in Abu Dhabi. Previously, I have worked in my home country,
                    Canada, as a French teacher for 2 years and happy to be continuing to do so with the
                    Odyssey family. Also, I have done advanced studies to be a greater practitioner with
                    Direct Quest in Abu Dhabi, and graduated December 2019. I also attended several
                    courses to expand my knowledge and professional skills in education, such as
                    Supporting Children with Additional Needs. Being a mother of one myself, I know the
                    importance of teaching our children and transmit our knowledge, but to always
                    support them with love and happiness! I am passionate in seeing a child&rsquo;s
                    development and specially to see how their brain works; amazed on how much their
                    imagination can expand! Being a teacher means I have the honour to be part of their
                    growth and just this, makes me love my too! My son motivates me every day and
                    reminds me how much I love to teach and be around children, around positivity and
                    love.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Catherine.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Catherine.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        {# <div class="infotab__left">
													<h6 class="infotab__subtitle">Janize Atterbury Steyn</h6>

													<div class="infotab__text">
														<p>My name is Janize Atterbury Steyn, I am 29 years old, and I am from South Africa. I studied at The University of Pretoria and obtained 2 degrees. Bachelor of Education in Early Childhood Development and Foundation Phase and then Bachelor of Education Honours in Learning Support. I have been happily married for 5 years and have two boys of my own, James and Jordan. We have recently moved to Abu Dhabi from South Africa. I am very excited to continue living out my passion for children and teaching at Odyssey Nursery.</p>
													</div>
												</div>
												<div class="infotab__right">
													<section class="smallgallery">
														<a href="{{ img_url ~ '/team/Catherine.jpg' }}" class="smallgallery__featured mobx">
															<img src="{{ Image(img_url ~ '/team/Catherine.jpg')|resize(500, 300, 'center') }}"/>
														</a>
													</section>
												</div>

												<div class="infotab__hr"></div> #}

        {# <div class="infotab__left">
													<h6 class="infotab__subtitle">Mirian Gomez</h6>

													<div class="infotab__text">
														<p>My name is Mirian Gomez; I am originally from Paraguay; I hold a bachelor's degree in Social Science and a master's degree in Sociology; I am certified as an Early Learning Teacher, and I have worked with young children since 2017 in Abu Dhabi, as well as various areas of education and research in Paraguay and Mexico. One of my great passions is education, learning, and child development. I am very excited to join the Odyssey team.</p>
													</div>
												</div>
												<div class="infotab__right">
													<section class="smallgallery">
														<a href="{{ img_url ~ '/team/Catherine.jpg' }}" class="smallgallery__featured mobx">
															<img src="{{ Image(img_url ~ '/team/Catherine.jpg')|resize(500, 300, 'center') }}"/>
														</a>
													</section>
												</div>

												<div class="infotab__hr"></div> #}

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Adaobi Jennifer Onakpovhie</h6>

            <div class="infotab__text">
                <p>My name is Adaobi Jennifer Onakpovhie. I am the classroom teacher in the Seashells
                    bubble 1 class, Odyssey nursery, Khalifa city A, Abu Dhabi. I am a Nigerian, married
                    to a wonderful husband and we have a lovely daughter. I have a degree in
                    Microbiology from Igbinedion University, Nigeria, and I am also in the process of
                    completing Cache Level 3 Diploma in early years education. I am Cpr/Aed and first
                    aid certified.</p>

                <p>I have been teaching for 5 years and this is my 4th year at Odyssey Nursery. It has
                    been an amazing experience and I have loved every bit of it. I provide activities
                    and projects based on the interest of the children, watch, and observe children to
                    know their strengths and areas of improvement. My goal is ensuring the children
                    learn and develop skills that provide a strong base for lifelong learning. I believe
                    that the first five years of a child&rsquo;s life are the most important years as
                    they are the foundation that shapes the child&rsquo;s future.
                </p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Jennifer.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Jennifer.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Izabella Modis Elsalhatne</h6>

            <div class="infotab__text">
                <p>I am Izabella Modis Elsalhatne born and raised in Hungary in the late 70s. In 2005 I
                    moved to the Arab Emirates with my husband and lived in Al-Ain. As a mother of four
                    children, in 2010 I have decided to move to Canada where my children can complete
                    their education and begin their lives as Canadian graduates. In those 7 years of
                    living in Canada, I have earned a degree in social community services. As all my
                    four children are in various stages of their lives, I have decided to move back and
                    begin working with children in Abu Dhabi. As a teacher here I want to make sure I go
                    above and beyond in making sure that I do everything in my power to guarantee that
                    every child that I encounter has a better fighting chance of succeeding in the
                    modern world.</p>

                <p>Having completed a degree in social services, I studied the different disabilities
                    and difficulties that children face in the modern world. Throughout my years of
                    working, I have been told that I show various traits such as compassion and love. My
                    personal philosophy in life is &ldquo;education is what gives a person purpose&rdquo;
                    staying true to my words I have just completed my EYFS \Chace level 2 and EYFS\Chace
                    level 3 where are taught about the different developmental stages of the children.
                    In this class, I not only hope to entertain but to teach kids and I am hoping to
                    help show the kids that learning things, is a beneficially part of life, that
                    learning is not a chore that you have to do but is a beautiful thing that helps us
                    evolve and become better people.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Izabella.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Izabella.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Chizoma Gina Agbaje</h6>

            <div class="infotab__text">
                <p>My name is Chizoma Gina Agbaje and I am an early year teacher for the Willows bubble
                    2, Odyssey Nursery Khalifa City A, Abu Dhabi. I have been working for Odyssey
                    Nursery for the past 2 years 3 months. I have 5 years of experience in Early Years
                    Education and with the Washington States Benchmark curriculum.&#160; I am a well
                    devoted early year practitioner with a passion for always delivering high-quality
                    childcare and learning opportunities to children aged 3 - 5 by improving their
                    skills, social-emotional abilities, cognitive skill, and their all-round
                    development. &#160;</p>

                <p>I hold a Cache level 3 diploma in early years for the work-based learner, a degree in
                    banking and ongoing master&rsquo;s in education.</p>

                <p>It is important to me and am passionate about providing a caring and safe environment
                    where children can grow and develop at their own pace.
                </p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Gina.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Gina.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Uma Joel</h6>

            <div class="infotab__text">
                <p>My name is Uma Joel, and I am the lead teacher for Twiglets Class, Odyssey Khalifa
                    city A Branch. I have been in Abu Dhabi for 15 years, and I live with my husband and
                    two children, who are also studying in Abu Dhabi. I have six years of experience in
                    Early years Education and with the Reggio Emilia Approach.</p>

                <p>I started my career as a banker way back in 2005. Holding a graduation degree in
                    Bachelor of Commerce and an MBA in finance just seemed the right choice. I worked in
                    a bank and an exchange house in Abu Dhabi before taking a break in the year 2011 to
                    raise my children, who are now 13 and 8. During this break and motherhood stage, I
                    became interested and passionate about early years development and decided to pursue
                    it. I started training in the nursery, gained my CACHE 2 and 3 in childhood studies,
                    and developed into a lead teacher's role. This was such a fantastic experience, and
                    I loved every minute of it. I came to Odyssey in 2017, and this has been the best
                    move I have made.</p>

                <p>As an early year's childhood educator, I believe I am responsible for providing young
                    children with a positive learning experience that will encourage them to be lifelong
                    learners. I firmly believe that every child is unique and different, so one size
                    does not fit all; I will always be willing to cater to the child's needs.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Uma.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Uma.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Alueshima Jennifer Shaapera</h6>

            <div class="infotab__text">
                <p>My name is Alueshima Jennifer Shaapera, and I am the curriculum coordinator at
                    Odyssey Nursery Khalifa city A. I have been in Abu Dhabi for the past six years, and
                    I live with my husband, my eight-year daughter and my six-year-old son. I have close
                    to 8 years of experience working in the early years and with the Reggio Emilia
                    Approach and Washington state Benchmarks.</p>

                <p>After I had my daughter and did a career change from retail banking to early years
                    education, I started my journey childcare industry. I fell in love with the Reggio
                    Emilia approach when I started working as a teaching assistant in Odyssey Khalifa in
                    2016, and I have not looked back ever since. I gained my Cache level 3 Diploma in
                    early years and a Cache level 5 diploma in leadership for health and social care and
                    children and young people&rsquo;s services. I developed to the role of the
                    curriculum coordinator. It has been such a fantastic experience for me.</p>

                <p>It is important to me that Odyssey Khalifa provides a rich learning environment where
                    the children&rsquo;s interests are respected to explore, grow, and blossom. As the
                    curriculum coordinator, I aim to partner with the teachers to implement a curriculum
                    that creates an environment that provides learning opportunities where educators can
                    collaborate with children to make learning happen.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Alu.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Alu.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Chane Murphy</h6>

            <div class="infotab__text">
                <p>I finished a Management and Marketing Diploma from the University of Monash and went
                    on to complete a Teaching diploma through AIMS Middle East in Early Childhood
                    Education and completed a, Teaching children with Special Needs and disabilities
                    course through Centre of Excellence UK. I have taught in early years for just less
                    than six years, though I have worked with grade 1-4 earlier in my life.</p>

                <p>I have lived in the UAE for 12 years on and off. I completed my schooling in Al Ain,
                    moved to Dubai after coming back after studies and worked as cabin crew for a year.
                    I had my daughter after a year of flying and decided to go back to teaching and
                    specialize in early years while she was still so small. I moved to Abu Dhabi about 5
                    years ago and really enjoy it here more so than the other Emirates. I am interested
                    in reading and always looking to take on a new challenge. In my class, I believe in
                    creating learning opportunities and for children to be independent, self-sufficient,
                    resilient, kind, mannered and critical thinkers. I have lots of love and care and
                    passion for this job. I believe in constant improvement on self to create the best
                    learning opportunities for all my little ones!</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Chane.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Chane.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Noela Kandzuh</h6>

            <div class="infotab__text">
                <p>My names are Noela Kandzuh and I am an Early years Educator at Odyssey Nursery
                    Khalifa City. I have been leaving and working in the UAE for the past six years with
                    my husband and three daughters. I have eight years of teaching experience, five of
                    those years in the EYFS British curriculum and two in Reggio Emilia inspired
                    setting.</p>

                <p>I began my journey after I left college and spent three years at the University where
                    I obtained a Bachelor of Education in curriculum studies and Teaching. I moved to
                    the UK where I took a bachelor&rsquo;s in business administration, while I was
                    studying, I did an NVQ level 2 so I could qualify to work at a nursery as an
                    assistant. I moved to the UAE in 2015, I got a job 3months after in an EYFS setting
                    as a preschool teacher and while I worked, I decided to get certified as an Early
                    Year Practitioner, so I enrolled to study the Level 3 International Preschool
                    Curriculum course which is equivalent to CACHE Level 3. I joint Odyssey in 2019, it
                    was a new terrain for me, but I have since understood the principles of the Reggio
                    philosophy and it has been a journey of learning and teaching which am loving every
                    moment of it.</p>

                <p>It is very important to me now than before, that when I plan my lessons, I view
                    children as being capable, competent, creative, curious, ambitious, researchers,
                    passionate and much more. As a teacher I am enjoying learning alongside the children
                    and immersing myself in the experiences as a guide and resource while observing and
                    tracking the growth of children and the classroom community in collaboration with
                    their parents.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Noela.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Noela.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Jenel Sanchez</h6>

            <div class="infotab__text">
                <p>My name is Jenel Sanchez and I am currently working as a Teacher in Odyssey Nursery
                    Khalifa City in Abu Dhabi.I first came to this amazing country 10 years ago working
                    as music performer as I hold a Gold Bachelor in Art since 2004 from my home country
                    Cuba .Abu Dhabi is now my second home as I created my family with my beautiful
                    daughter and sweet husband.</p>

                <p>By the time I decided in 2016 to retake my teaching passion here in Abu Dhabi I had
                    almost 11 years experience teaching music to primary and secondary students back
                    home in Cuba. The last 5 years working In Early Years education has opened up a
                    magic and unique opportunity in my professional life and I am enjoying every second
                    of it. I started training and gained Cache level 3 in childhood studies to deliver a
                    high standard of care and education to each of the amazing little minds that I have
                    the pleasure to teach and learn from.</p>

                <p>I am a passionate teacher with a challenge to develop and enhance skills to offer
                    children the best possible learning experience and opportunities to support their
                    bright and success future.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Jenel.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Jenel.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

    </div>
</div>