<div id="collapse__practitioners--team-tab3" class="collapse" data-parent="#collapse__practitioners">
    <div class="d-flex flex-wrap">

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Ola Kimmins</h6>

            <div class="infotab__text">
                <p>My name is Ola Kimmins, I am a mother of two amazing children my daughter Layla who
                    is four years old and my son Leo who turned two in June this year. I have been
                    working in Early Education Since 2012 in different countries as I was lucky to have
                    the opportunity to travel the world with my husband. This experiences to work in
                    different countries with mixed cultures enriched my knowledge and understanding of
                    child development and teaching strategies. I worked in different teaching
                    curriculums like the British, American, Canadian and the Montessori. All these
                    curriculums enhanced my teaching techniques and strategies to make learning for
                    children more fun and creative, my role is to facilities all models and resources to
                    be child friendly and fun to use to make the learning journey of a child enjoyable
                    and play based.</p>

                <p>I learned that we must respect every child identity and choice of what he wants to do
                    and make. Give children the freedom of choice and respect their sensitive areas.</p>

                <p>Language in the early childhood is a key to open a lot of opportunity for a child to
                    discover the world around him. Nature is the real teacher for each child. I learned
                    to let the children explore the world around them and through their interest they
                    will lead me to what they are interested to do.
                </p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Ola-Kimmins.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Ola-Kimmins.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Souria Bireche</h6>

            <div class="infotab__text">
                <p>Je m&rsquo;appelle Souria Bireche , j&rsquo;ai 35 ans , je suis maman de jumeaux une
                    fille et un gar&ccedil;on qui ont cinq ans ,je suis Alg&eacute;rienne , je suis
                    Technicienne Sup&eacute;rieure en Architecture , j&rsquo;ai fais mes &eacute;tudes
                    primaires et coll&egrave;ge en arabe et fran&ccedil;ais comme langue secondaire, et
                    j&rsquo;ai fais le lyc&eacute;e et &eacute;tudes sup&eacute;rieures en fran&ccedil;ais,
                    donc je parles fran&ccedil;ais et arabe literature parfaitement , j&rsquo;ai le
                    cache level 2 diploma de l&rsquo;&eacute;cole &ldquo;Ques eye Dubai&rdquo;.</p>

                <p>Avant de travailler autant que ma&icirc;tresses de fran&ccedil;ais chez &ldquo;Odyssey&rdquo;
                    j&rsquo;ai travaill&eacute; 8 ans autant que charg&eacute;e des &eacute;tudes d&rsquo;architecture
                    , j&rsquo;ai d&eacute;cid&eacute; de me convertir depuis que je suis maman car j&rsquo;ai
                    d&eacute;couvert en moi une patient en vers les enfants de bas &acirc;ge ,j&rsquo;adore
                    m&rsquo;amuser avec eux, leurs donner de l&rsquo;amour et de la tendresse et les
                    initier &agrave; faire leurs premier pas vers le cursus scolaire et &agrave; d&eacute;velopper
                    leurs capacit&eacute;s d&rsquo;apprendre et &ecirc;tre autonomes.</p>

                <p>Comme j&rsquo;ai &eacute;tudi&eacute; de l&rsquo;architecture, qui est en quelques
                    sorte un mixe d&rsquo;art et de technicit&eacute; je suis tr&egrave;s confortable et
                    inspir&eacute; par l&rsquo;approche &ldquo;Reggio Emilia&rdquo; j&rsquo;ai les
                    capacit&eacute;s de mettre l&rsquo;enfant dans un environment d&rsquo;inspiration et
                    d&rsquo;enthousiasme en quelque gestes simples et efficaces.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Souria-Bireche.jpg' }}"
                   class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Souria-Bireche.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Mary Ngoiri Kinyagia</h6>

            <div class="infotab__text">
                <p>My name is Mary Kinyagia, I am from Nairobi, Kenya. I spent 12 years in England where
                    I fell in love with teaching.</p>

                <p>I have more than 5 years of experience working with children from the ages of 6
                    months to 5 years old and have enjoyed every single bit of it. I hold a CACHE Level
                    3 Diploma for the Early Years Workforce.</p>

                <p>I am very patient, full of energy, driven and focused person with a passion for
                    providing rich experiences to children. I&rsquo;m also a very positive person and
                    this helps me maintain a friendly and cheerful learning environment that promotes
                    the development and wellbeing of children.</p>

                <p>In my spare time, I enjoy exploring new places, reading, fitness, travelling, cooking
                    and cycling.</p>

                <p>But teaching is my greatest passion.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Mary-Ngoiri-Kinyagia.jpg' }}"
                   class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Mary-Ngoiri-Kinyagia.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Petronella Venter</h6>

            <div class="infotab__text">
                <p>My name is Petro. I proudly bring with me a wealth of experience both as a mother of
                    3 grown up sons as well as professional and experienced teacher. Education lies
                    close to my heart and I have gained many years of valuable experience in the British
                    system. I am a highly motivated and enthusiastic teacher. After teaching many years
                    in South Africa, the International arena afforded me the opportunity to excel and
                    live my passion for teaching in a cultural diverse environment. I was committed to
                    ongoing professional development by obtaining the highest Level 5 TEFL Certificate
                    for Business English. My high level of fluency in English stands me in good stead
                    with a proven ability to achieve learning outcomes successfully.</p>

                <p>I love to encourage children and help them realise their full potential and equip
                    them with the necessary skills to excel in their future endeavours. Teachers with
                    passion inspire children and passionate children&rsquo;s&rsquo; study more.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Petronella-Venter.jpg' }}"
                   class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Petronella-Venter.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Zahra Segulle</h6>

            <div class="infotab__text">
                <p>My name is Zahra. I am 32 years old. I have a GNVQ Early Years Child Care (2006-2008)
                    Early Years Education Diploma Level 4. I am a sociable, positive individual with
                    excellent people skills, and have a diverse work experience range. My role is to
                    encourage children to believe in themselves in an environment where they feel secure
                    and loved and where, most importantly, they have fun. Providing a holistic
                    environment, where young children can learn to develop through hands on activities.
                    My role was to appreciate the fast pace of change that characterizes our world, and
                    we understand the importance of teaching children&rsquo;s skills that will enable
                    them to engage actively within our increasingly diverse and exciting society.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Zahra-Segulle.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Zahra-Segulle.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Rakotoarimanana Sitrakiniaina</h6>

            <div class="infotab__text">
                <p>My name is Rakotoarimanana Sitrakiniaina. I am 22 years old from Madagascar. I am
                    mother of one daughter who&rsquo;s 4years old. I have a Bachelor of French
                    Literature from Madagascar in 2017. As a child growing up in family of educators, I
                    knew at a young age that teaching was my passion, Children are curious about their
                    world and have the powerful potential to learn from all that surrounds them.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Rakotoarimanana-Sitrakiniaina.jpg' }}"
                   class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Rakotoarimanana-Sitrakiniaina.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

    </div>
</div>