<div id="collapse__practitioners--team-tab5" class="collapse" data-parent="#collapse__practitioners">
    <div class="d-flex flex-wrap">

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Federica</h6>

            <div class="infotab__text">
                <p>Ciao! My name is Federica&#160;&#160;and I am a teacher at Odyssey Nursery in&#160;
                    Mushrif.</p>

                <p>I am 24 years old and I come from Italy. I have experiences as a teacher with
                    children from 6 months to 12 years&#160; old and as an educator with children with
                    special needs. When I'm not at Odyssey Nursery, I enjoy my time with my family or&#160;
                    practicing Swing dance.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Federica.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Federica.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Charleine</h6>

            <div class="infotab__text">
                <p>I am Charleine and I am teacher at Odyssey Nursery Mushrif. I&#160; have 20 years of
                    experience as French Teacher and I am enjoying my&#160; career every day! I always
                    like helping kids learn and grow in a&#160; wonderful environment like what we have
                    at Odyssey.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Charleine.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Charleine.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Saira</h6>

            <div class="infotab__text">
                <p>I am Saira and I am the teacher at Odyssey Nursery in Mushrif. I&#160; encourage
                    children to learn by connecting with them and giving them a&#160; high quality
                    education. I am creative and passionate about helping&#160; children learn, have fun
                    and be the best they can be. I am glad to be a&#160; part of this wonderful nursery
                    Odyssey!!</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Saira-Ali.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Saira-Ali.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        {# <div class="infotab__left">
													<h6 class="infotab__subtitle">Joanie</h6>

													<div class="infotab__text">
														<p>I am Joanie and I am a teacher at Odyssey Nursery. I know no single&#160; approach is the same with individuals so I have been researching a lot&#160; about why people act a certain way. This triggered my love for working&#160; with children to help them be independent. Personal development is a&#160; huge part of my life since I believe I'm never too old to learn. My passion is finding out what makes other people, especially children,&#160; tick and use that to help them grow and evolve their strengths. I have&#160; always been emotionally in tune with how other people feel around me&#160; thus I have found my passion lies in helping and giving.</p>
													</div>
												</div>
												<div class="infotab__right">
													<section class="smallgallery">
														<a href="{{ img_url ~ '/team/Saira-Ali.jpg' }}" class="smallgallery__featured mobx">
															<img src="{{ Image(img_url ~ '/team/Saira-Ali.jpg')|resize(500, 300, 'center') }}"/>
														</a>
													</section>
												</div>

												<div class="infotab__hr"></div> #}

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Francesca</h6>

            <div class="infotab__text">
                <p>Hello, I am Francesca and I am a teacher at Odyssey Nursery in Mushrif.&#160; I love
                    kids and it fills my heart with joy to watch them grow. My&#160; philosophy is that
                    each child is unique with strong potential for&#160; development and growth. I look
                    forward to continuing to have a positive&#160; impact on the children's lives. I am&#160;&#160;excited
                    and glad to be a part of&#160; this wonderful team of teachers of Reggio Emilia
                    Approach.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Francesca-di-maria.jpg' }}"
                   class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Francesca-di-maria.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        {# <div class="infotab__left">
													<h6 class="infotab__subtitle">Edith Akunna Aboaja</h6>

													<div class="infotab__text">
														<p>I am from Nigeria,&#160;&#160;I'm married with 2&#160;&#160; children. I 've been in UAE working for 3 years now, I graduated with&#160; Higher National Diploma in Purchasing and supply management. I have&#160; worked as assistant teacher and Teacher for both children and young&#160; people in my country, then because I enjoy being with the children,&#160; helping them grow step by step. I hold a professional course in Early&#160; Childhood Education here in UAE (CACHE level 2) and Post Graduate&#160; Diploma in Montessori teacher training.</p>

						<p>I am very much passionate about my job, about how we can teach and&#160; support the children through play, protect them by providing an&#160; environment where they feel safe. My aim is to make the children to be&#160; independent learners and strives to learn more about them every day.</p>
													</div>
												</div>
												<div class="infotab__right">
													<section class="smallgallery">
														<a href="{{ img_url ~ '/team/Francesca-di-maria.jpg' }}" class="smallgallery__featured mobx">
															<img src="{{ Image(img_url ~ '/team/Francesca-di-maria.jpg')|resize(500, 300, 'center') }}"/>
														</a>
													</section>
												</div>

												<div class="infotab__hr"></div> #}

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Hadia</h6>

            <div class="infotab__text">
                <p>I&rsquo;m a teacher at Odyssey Nursery in Mushrif. I love supporting my children&rsquo;s
                    learning journey through innovative lesson planning and one on one teaching. I love
                    opening a new world to the children as we explore and discover through play.
                    Promoting verbal expression, developing socially, emotionally, and physically, and
                    encouraging creative skills like drama, art and music of the children are also part
                    of my daily routine. I&rsquo;m happy to be one of the team at our wonderful nursery
                    Odyssey!</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Hadia-layoun.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Hadia-layoun.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        {# <div class="infotab__left">
													<h6 class="infotab__subtitle">Elaine</h6>

													<div class="infotab__text">
														<p>Ensuring the cleanliness and safety of the school facilities, for both the children and the staff, is my duty. I always follow the guidelines given by ADEK especially in this time of pandemic. Having the school nice and tidy for everyone here in Odyssey Nursery is my duty and pleasure, especially because it also teachers how important it is to respect the environment around us! 😊</p>
													</div>
												</div>
												<div class="infotab__right">
													<section class="smallgallery">
														<a href="{{ img_url ~ '/team/Hadia-layoun.jpg' }}" class="smallgallery__featured mobx">
															<img src="{{ Image(img_url ~ '/team/Hadia-layoun.jpg')|resize(500, 300, 'center') }}"/>
														</a>
													</section>
												</div>

												<div class="infotab__hr"></div> #}

        {# <div class="infotab__left">
													<h6 class="infotab__subtitle">Le Chantal</h6>

													<div class="infotab__text">
														<p>I am a Teacher Assistant at Odyssey Nursery in Mushrif. Keeping track of the children's abilities and their development is my responsibility, as well as supporting the teachers and helping children with their projects. It is so wonderful to see how children improve day by day even in simple things either as a person or as a part of the group. I am so excited every day I come to work and I am looking forward to keep on exploring and learning with the children in our nursery, Odyssey.</p>
													</div>
												</div>
												<div class="infotab__right">
													<section class="smallgallery">
														<a href="{{ img_url ~ '/team/Hadia-layoun.jpg' }}" class="smallgallery__featured mobx">
															<img src="{{ Image(img_url ~ '/team/Hadia-layoun.jpg')|resize(500, 300, 'center') }}"/>
														</a>
													</section>
												</div>

												<div class="infotab__hr"></div> #}

    </div>
</div>