<div id="collapse__practitioners--team-tab2" class="collapse" data-parent="#collapse__practitioners">
    <div class="d-flex flex-wrap">

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Amel Jelassi</h6>

            <div class="infotab__text">
                <p>As a mother of 2, I found myself being attracted to the field of education,
                    especially in nurseries, because it is a world were not only do the children learn,
                    but we, as educators learn from the children as well. It is a reciprocal
                    interaction. I have been working in this field for 11 years and my favorite part of
                    my experience is to see the children grow and nourish from the seeds of education
                    that we plant together.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Amel.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Amel.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Basma Saidi Ep Glai</h6>

            <div class="infotab__text">
                <p>I have a good experience in schools with 6 years of expertise in education and
                    teaching of children, also with a diversity of educative language French, Spanish,
                    Arabic and English.</p>

                <p>I always adopt a flexible method with the children that allows them to adapt, to
                    integrate and actively participate in activities and programs prepared in
                    advance.</p>

                <p>I am always listening to children I take care of them and my goal is to help them to
                    develop and improve their skills and be more creative and responsible, share a good
                    time with all children and teach them with a simple method of education.</p>

                <p>I transmit my motivation and my positive energy to the children, and I create a
                    trusting and comfortable environment that they can be happy, play and learn at the
                    same time and enjoy all time in the nursery.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Basma.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Basma.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Farah Kaddur Massaoudi</h6>

            <div class="infotab__text">
                <p>I have enjoyed working with young children for as long as I can remember. Over the
                    years I have found my passion working in collaboration with children to experience
                    the wonders of the world around us. Engaging in meaningful and integrated projects,
                    thinking deeper about what makes a worm wiggle, taking a second look at a favorite
                    book and experiencing a wild game of tag on a windy sunny day brings me joy. I look
                    forward to the many adventures that teaching Kindergarten will bring over this
                    year!</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Farah.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Farah.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Fella Dahman</h6>

            <div class="infotab__text">
                <p>My name is Fella DAHMAN, I am 48 years old, ALGERIAN. I am a mother of 4
                    children.</p>

                <p>I studied in Algeria computer science in 1994. I have CACHE Level 2 Certificate for
                    the Children and Young People&rsquo;s Workforce (England) (QCF) on 2015.</p>

                <p>I have a Training Course Name: Diploma Montessori. I have a Training Course Name:
                    Vocational Diploma in Child Care &amp; Education of Young Children.</p>

                <p>I have Cache level 3 of early years education from theKIDZ INC institute of
                    Dubai.</p>

                <p>Before joining Odyssey nursery, I have worked as a French teacher in (PETIT BOUT DE
                    CHOUX Nursery), and POTENTIEL nursery.</p>

                <p>The time I spend for my children&rsquo;s education lead me to find my reason for
                    teaching.</p>

                <p>And now teaching is a pleasure. Sharing information and helping children to have a
                    holistic development is my goal.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Fella.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Fella.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Phionah Nanono</h6>

            <div class="infotab__text">
                <p>An enthusiastic and passionate teacher with a unique blend of visionary teaching for
                    children from varying backgrounds and races across Asia, the Middle East and Africa.
                    My teaching encompasses learning through play, stimulation and hands-on experience.
                    I am organised and driven with innate ability to stay focused while identifying
                    individual needs of each student. I have expertise in different curriculums,
                    approaches and philosophies in the early years setting. As an experienced early
                    years teacher, I believe that all children are unique and learn differently. This
                    makes my teaching outstanding and enjoyable hence creating lifetime learners and
                    well-rounded students. Ov I am a proud mother of two lovely children a boy aged 7
                    and a girl 11years old.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Phionah.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Phionah.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Souhila Mezaguer</h6>

            <div class="infotab__text">
                <p>My name is Souhila Mezaguer, I&rsquo;m 52 years old, and I&rsquo;m a French language
                    teacher. I&rsquo;m a mother of 2 daughters. I Graduated from University as a
                    Civil-Engineer and got a British Diploma CACHE Level 3 of Early Years Education from
                    Kidz inc.</p>

                <p>I have more than 14 years of experience in Children education, since March 2017, I
                    joined Odyssey Nursery Umm Suqeim.</p>

                <p>I do believe that teachers are not only required to teach their students, but they
                    are also expected to be motivators, leaders, life coachers, planners, performers,
                    and negotiators.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Souhila.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Souhila.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Yamina Hamdi</h6>

            <div class="infotab__text">
                <p>Hi there, my name is Yamina Hamdi. I am 39 years old, from Algeria. I am married, I
                    have three children.</p>

                <p>I studied in the UAE, I am a qualified early year&rsquo;s teacher and have completed
                    a CACHE Level 3.</p>

                <p>I have also completed an Early Childhood Education and Child Care Certificate and
                    many more courses related to Early Childhood education. I have an experience of 14
                    years.</p>

                <p>My desire and passion for children and their development is visible in my day-to-day
                    interaction and planning, it&rsquo;s my mission to install a love for learning in my
                    students. I attempt to teach with a passion so that my students develop a desire to
                    become life-long learners.
                </p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Yamina.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Yamina.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Kristel Sfeir</h6>

            <div class="infotab__text">
                <p>With a business trade background and loving nature, I decide that negotiating with
                    kids is more fun! Becoming a mum of two made me passionate about learning through
                    play and search what is best for kids, it brings me back to think and create a small
                    world for kids that must consider their interest and rhythm to make them most
                    confident and cherish their uniqueness! I'm that person that will impact their
                    future and making the best of it is my role. This is an important base in their
                    early years to set up the tone to reach their goals, you make sure the roots of the
                    tree is well take care of to allow it to grow well. Communicating with the parents
                    allow a balance collaboration that will bring happiness for everyone.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Kristel.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Kristel.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">May Abou Ayache</h6>

            <div class="infotab__text">
                <p>My name is May Abou Ayache, I am 39 years old, French Lebanese. I am a mother of 2
                    girls 12 and 14 years old. I have a Bachelor of Science in Business from the
                    Lebanese American University LAU of Beirut in 2004. I have a diploma in French
                    language studies from Poitiers University, France in 2006 and a British diploma
                    Cache level 3 of early years education from the Arabian Child institute of
                    Dubai.</p>

                <p>Before joining Odyssey nursery, I have worked at the French school of &ldquo;Lyc&eacute;e
                    Fran&ccedil;ais International de L&rsquo;AFLEC&rdquo; for 6 years, 3 years in
                    education and 3 years in the administration.</p>

                <p>Teaching is my passion and my philosophy is that every child is unique and can learn
                    at his own pace through playing. Children are curious about their world and have the
                    powerful potential to learn from all that surrounds them.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/May.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/May.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

        <div class="infotab__left">
            <h6 class="infotab__subtitle">Ranim Kabbas</h6>

            <div class="infotab__text">
                <p>I am Ranim Kabbas and I come from Syria.</p>

                <p>I am 35 years old and a proud mother of two lovely children a girl aged 11 and a boy
                    5 years old. I have a Bachelor degree of Education. I have been working as a teacher
                    for the last 13 years, 11 years of this was in the United Arab Emirates.</p>

                <p>My passion for teaching stems from my internal drive for sharing knowledge and
                    witnessing the success of my students.</p>

                <p>My philosophy for learning is that each child is unique and each child learns in a
                    different way. I believe in hands on experiences, learning creatively and learning
                    through play.</p>
            </div>
        </div>
        <div class="infotab__right">
            <section class="smallgallery">
                <a href="{{ img_url ~ '/team/Ranim.jpg' }}" class="smallgallery__featured mobx">
                    <img src="{{ Image(img_url ~ '/team/Ranim.jpg')|resize(500, 300, 'center') }}"/>
                </a>
            </section>
        </div>

        <div class="infotab__hr"></div>

    </div>
</div>