<div id="collapse__child--roms-preschool" class="collapse show infotab__body">

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Twiglets 1 - Odyssey Khalifa City</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ Large windows</li>
                <li>+ AC unit</li>
                <li>+ Toddler sleeping mats</li>
                <li>+ Toilet, sink and baby changing unit just outside the classroom</li>
                <li>+ Learning centres</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
                <li>+ Sensorial play area</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Khalifa_Twiglets1_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_1">
                <img src="{{ Image(img_url ~ '/rooms/Khalifa_Twiglets1_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Khalifa_Twiglets1_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_1">
                    <img src="{{ Image(img_url ~ '/rooms/Khalifa_Twiglets1_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Khalifa_Twiglets1_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_1">
                    <img src="{{ Image(img_url ~ '/rooms/Khalifa_Twiglets1_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Khalifa_Twiglets1_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_1">
                    <img src="{{ Image(img_url ~ '/rooms/Khalifa_Twiglets1_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/Khalifa_Twiglets1_1200x800-05.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_4_1"></a>
                    <a href="{{ img_url }}/rooms/Khalifa_Twiglets1_1200x800-06.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_4_1"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Twiglets 2 - Odyssey Khalifa City</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ Large windows</li>
                <li>+ AC unit</li>
                <li>+ Toddler sleeping mats</li>
                <li>+ Toilet, sink and baby changing unit just outside the classroom</li>
                <li>+ Learning centres</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Khalifa_Twiglets2_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_2">
                <img src="{{ Image(img_url ~ '/rooms/Khalifa_Twiglets2_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Khalifa_Twiglets2_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_2">
                    <img src="{{ Image(img_url ~ '/rooms/Khalifa_Twiglets2_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Khalifa_Twiglets2_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_2">
                    <img src="{{ Image(img_url ~ '/rooms/Khalifa_Twiglets2_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Khalifa_Twiglets2_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_2">
                    <img src="{{ Image(img_url ~ '/rooms/Khalifa_Twiglets2_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/Khalifa_Twiglets2_1200x800-05.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_4_2"></a>
                    <a href="{{ img_url }}/rooms/Khalifa_Twiglets2_1200x800-06.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_4_2"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Blossoms 1 - Odyssey Khalifa City</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ Direct access to own baby outdoor garden area – this part of the garden is only used for our
                    Blossom’s 1 room
                </li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and baby changing unit just outside the classroom</li>
                <li>+ Toddler sleeping mats</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
                <li>+ Learning centres</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Khalifa_Blossoms1_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_3">
                <img src="{{ Image(img_url ~ '/rooms/Khalifa_Blossoms1_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Khalifa_Blossoms1_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_3">
                    <img src="{{ Image(img_url ~ '/rooms/Khalifa_Blossoms1_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Khalifa_Blossoms1_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_3">
                    <img src="{{ Image(img_url ~ '/rooms/Khalifa_Blossoms1_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Khalifa_Blossoms1_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_3">
                    <img src="{{ Image(img_url ~ '/rooms/Khalifa_Blossoms1_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/Khalifa_Blossoms1_1200x800-05.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_4_3"></a>
                    <a href="{{ img_url }}/rooms/Khalifa_Blossoms1_1200x800-06.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_4_3"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Blossoms 2 - Odyssey Khalifa City</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and baby changing unit just outside the classroom</li>
                <li>+ Toddler sleeping mats</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
                <li>+ Learning centres</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Khalifa_Blossoms2_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_4">
                <img src="{{ Image(img_url ~ '/rooms/Khalifa_Blossoms2_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Khalifa_Blossoms2_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_4">
                    <img src="{{ Image(img_url ~ '/rooms/Khalifa_Blossoms2_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Khalifa_Blossoms2_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_4">
                    <img src="{{ Image(img_url ~ '/rooms/Khalifa_Blossoms2_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Khalifa_Blossoms2_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_4">
                    <img src="{{ Image(img_url ~ '/rooms/Khalifa_Blossoms2_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/Khalifa_Blossoms2_1200x800-05.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_4_4"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Daisy - Odyssey Living Legends</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and diaper change facility inside the classroom</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ Access to large outdoor garden and play areas</li>
                <li>+ Access to indoor construction play area</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/LL_Daisy_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_5">
                <img src="{{ Image(img_url ~ '/rooms/LL_Daisy_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/LL_Daisy_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_5">
                    <img src="{{ Image(img_url ~ '/rooms/LL_Daisy_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/LL_Daisy_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_5">
                    <img src="{{ Image(img_url ~ '/rooms/LL_Daisy_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/LL_Daisy_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_5">
                    <img src="{{ Image(img_url ~ '/rooms/LL_Daisy_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/LL_Daisy_1200x800-05.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_4_5"></a>
                    <a href="{{ img_url }}/rooms/LL_Daisy_1200x800-06.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_4_5"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Twiglets B - Odyssey Mushrif</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows with garden view</li>
                <li>+ Toilet, sink and baby change facility</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Mushrif_Twiglets_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_6">
                <img src="{{ Image(img_url ~ '/rooms/Mushrif_Twiglets_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Mushrif_Twiglets_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_6">
                    <img src="{{ Image(img_url ~ '/rooms/Mushrif_Twiglets_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Mushrif_Twiglets_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_6">
                    <img src="{{ Image(img_url ~ '/rooms/Mushrif_Twiglets_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Mushrif_Twiglets_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_6">
                    <img src="{{ Image(img_url ~ '/rooms/Mushrif_Twiglets_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/Mushrif_Twiglets_1200x800-05.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_4_6"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    {# <div class="infotab__left">
																																																	<h6 class="infotab__subtitle">Blossoms - Odyssey Mushrif</h6>
																																																	<div class="infotab__text">
																																																		<p>
																																																			Room facilities and features include:
																																																		</p>
																																																		<ul class="list-unstyled">
																																																			<li>+ Natural light</li>
																																																			<li>+ AC unit</li>
																																																			<li>+ Large windows with garden view</li>
																																																			<li>+ Toilet, sink and baby changing unit just outside the classroom</li>
																																																			<li>+ Toddler sleeping mats</li>
																																																			<li>+ Access to the nurse during operational hours</li>
																																																			<li>+ CCTV inside the classroom (not for external use)</li>
																																																		</ul>
																																																	</div>
																																																</div>
																																																<div class="infotab__right">
																																																	<section class="smallgallery">
																																																		<a href="{{ img_url }}/rooms/Mushrif_Twiglets_1200x800-01.jpg" class="smallgallery__featured mobx" data-rel="gallery_4_7">
																																																			<img src="{{ Image(img_url ~ '/rooms/Mushrif_Twiglets_1200x800-01.jpg')|resize(465, 305, 'center') }}">
																																																		</a>
																																																		<div class="smallgallery__images">
																																																			<a href="{{ img_url }}/rooms/Mushrif_Twiglets_1200x800-02.jpg" class="smallgallery__image mobx" data-rel="gallery_4_7">
																																																				<img src="{{ Image(img_url ~ '/rooms/Mushrif_Twiglets_1200x800-02.jpg')|resize(135, 90, 'center') }}">
																																																			</a>
																																																			<a href="{{ img_url }}/rooms/Mushrif_Twiglets_1200x800-03.jpg" class="smallgallery__image mobx" data-rel="gallery_4_7">
																																																				<img src="{{ Image(img_url ~ '/rooms/Mushrif_Twiglets_1200x800-03.jpg')|resize(135, 90, 'center') }}">
																																																			</a>
																																																			<a href="{{ img_url }}/rooms/Mushrif_Twiglets_1200x800-04.jpg" class="smallgallery__image mobx" data-rel="gallery_4_7">
																																																				<img src="{{ Image(img_url ~ '/rooms/Mushrif_Twiglets_1200x800-04.jpg')|resize(135, 90, 'center') }}">
																																																			</a>

																																																			<div class="d-none">
																																																				<a href="{{ img_url }}/rooms/Mushrif_Twiglets_1200x800-05.jpg" class="smallgallery__image mobx" data-rel="gallery_4_7"></a>
																																																			</div>
																																																		</div>
																																																	</section>
																																																</div>

																																																<div class="infotab__hr"></div> #}

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Tournesol 2 - Odyssey Umm Suqieum</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows with garden view</li>
                <li>+ Toilet, sink and baby changing unit just outside the classroom</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ Access to large outdoor garden and play areas</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/US_Tournesol2_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_8">
                <img src="{{ Image(img_url ~ '/rooms/US_Tournesol2_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/US_Tournesol2_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_8">
                    <img src="{{ Image(img_url ~ '/rooms/US_Tournesol2_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Tournesol2_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_8">
                    <img src="{{ Image(img_url ~ '/rooms/US_Tournesol2_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Tournesol2_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_8">
                    <img src="{{ Image(img_url ~ '/rooms/US_Tournesol2_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div
                        class="d-none">{# <a href="{{ img_url }}/rooms/US_Tournesol2_1200x800-05.jpg" class="smallgallery__image mobx" data-rel="gallery_4_8"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    {# <div class="infotab__left">
																																																	<h6 class="infotab__subtitle">Daisy - Odyssey Umm Suqieum</h6>
																																																	<div class="infotab__text">
																																																		<p>
																																																			Room facilities and features include:
																																																		</p>
																																																		<ul class="list-unstyled">
																																																			<li>+ Natural light</li>
																																																			<li>+ AC unit</li>
																																																			<li>+ Large windows</li>
																																																			<li>+ Toilet, sink and diaper change facility right outside the classroom</li>
																																																			<li>+ Access to the nurse during operational hours</li>
																																																			<li>+ Access to large outdoor garden and play areas</li>
																																																			<li>+ CCTV inside the classroom (not for external use)</li>
																																																		</ul>
																																																	</div>
																																																</div>
																																																<div class="infotab__right">
																																																	<section class="smallgallery">
																																																		<a href="{{ img_url }}/rooms/US_Tournesol2_1200x800-01.jpg" class="smallgallery__featured mobx" data-rel="gallery_4_9">
																																																			<img src="{{ Image(img_url ~ '/rooms/US_Tournesol2_1200x800-01.jpg')|resize(465, 305, 'center') }}">
																																																		</a>
																																																		<div class="smallgallery__images">
																																																			<a href="{{ img_url }}/rooms/US_Tournesol2_1200x800-02.jpg" class="smallgallery__image mobx" data-rel="gallery_4_9">
																																																				<img src="{{ Image(img_url ~ '/rooms/US_Tournesol2_1200x800-02.jpg')|resize(135, 90, 'center') }}">
																																																			</a>
																																																			<a href="{{ img_url }}/rooms/US_Tournesol2_1200x800-03.jpg" class="smallgallery__image mobx" data-rel="gallery_4_9">
																																																				<img src="{{ Image(img_url ~ '/rooms/US_Tournesol2_1200x800-03.jpg')|resize(135, 90, 'center') }}">
																																																			</a>
																																																			<a href="{{ img_url }}/rooms/US_Tournesol2_1200x800-04.jpg" class="smallgallery__image mobx" data-rel="gallery_4_9">
																																																				<img src="{{ Image(img_url ~ '/rooms/US_Tournesol2_1200x800-04.jpg')|resize(135, 90, 'center') }}">
																																																			</a>

																																																			<div class="d-none">
																																																				<!-- <a href="{{ img_url }}/rooms/US_Tournesol2_1200x800-05.jpg" class="smallgallery__image mobx" data-rel="gallery_4_8"></a> -->
																																																			</div>
																																																		</div>
																																																	</section>
																																																</div>

																																																<div class="infotab__hr"></div> #}

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Lilas - Odyssey Umm Suqieum</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and diaper change facility right outside the classroom</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ Access to large outdoor garden and play areas</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/US_Lilas_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_10">
                <img src="{{ Image(img_url ~ '/rooms/US_Lilas_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/US_Lilas_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_10">
                    <img src="{{ Image(img_url ~ '/rooms/US_Lilas_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Lilas_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_10">
                    <img src="{{ Image(img_url ~ '/rooms/US_Lilas_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Lilas_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_10">
                    <img src="{{ Image(img_url ~ '/rooms/US_Lilas_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div
                        class="d-none">{# <a href="{{ img_url }}/rooms/US_Lilas_1200x800-05.jpg" class="smallgallery__image mobx" data-rel="gallery_4_10"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Iris - Odyssey Umm Suqieum</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and diaper change facility right outside the classroom</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ Access to large outdoor garden and play areas</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/US_Iris_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_11">
                <img src="{{ Image(img_url ~ '/rooms/US_Iris_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/US_Iris_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_11">
                    <img src="{{ Image(img_url ~ '/rooms/US_Iris_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Iris_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_11">
                    <img src="{{ Image(img_url ~ '/rooms/US_Iris_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Iris_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_11">
                    <img src="{{ Image(img_url ~ '/rooms/US_Iris_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div
                        class="d-none">{# <a href="{{ img_url }}/rooms/US_Iris_1200x800-05.jpg" class="smallgallery__image mobx" data-rel="gallery_4_11"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Capucine - Odyssey Umm Suqieum</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and diaper change facility right outside the classroom</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ Access to large outdoor garden and play areas</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/US_Capucine_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_12">
                <img src="{{ Image(img_url ~ '/rooms/US_Capucine_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/US_Capucine_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_12">
                    <img src="{{ Image(img_url ~ '/rooms/US_Capucine_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Capucine_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_12">
                    <img src="{{ Image(img_url ~ '/rooms/US_Capucine_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Capucine_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_12">
                    <img src="{{ Image(img_url ~ '/rooms/US_Capucine_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div
                        class="d-none">{# <a href="{{ img_url }}/rooms/US_Iris_1200x800-05.jpg" class="smallgallery__image mobx" data-rel="gallery_4_12"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Bouton D’or - Odyssey Umm Suqieum</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and diaper change facility right outside the classroom</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ Access to large outdoor garden and play areas</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/US_BoutonD_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_13">
                <img src="{{ Image(img_url ~ '/rooms/US_BoutonD_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/US_BoutonD_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_13">
                    <img src="{{ Image(img_url ~ '/rooms/US_BoutonD_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_BoutonD_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_13">
                    <img src="{{ Image(img_url ~ '/rooms/US_BoutonD_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_BoutonD_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_13">
                    <img src="{{ Image(img_url ~ '/rooms/US_BoutonD_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div
                        class="d-none">{# <a href="{{ img_url }}/rooms/US_Iris_1200x800-05.jpg" class="smallgallery__image mobx" data-rel="gallery_4_13"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Lavender - Odyssey Umm Suqieum</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and diaper change facility right outside the classroom</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ Access to indoor role play area</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/US_Levander_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_14">
                <img src="{{ Image(img_url ~ '/rooms/US_Levander_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/US_Levander_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_14">
                    <img src="{{ Image(img_url ~ '/rooms/US_Levander_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Levander_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_14">
                    <img src="{{ Image(img_url ~ '/rooms/US_Levander_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Levander_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_14">
                    <img src="{{ Image(img_url ~ '/rooms/US_Levander_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div
                        class="d-none">{# <a href="{{ img_url }}/rooms/US_Iris_1200x800-05.jpg" class="smallgallery__image mobx" data-rel="gallery_4_14"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Marguerite - Odyssey Umm Suqieum</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and diaper change facility right outside the classroom</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ Access to indoor role play area</li>
                <li>+ CCTV inside the classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/US_Marguerite_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_4_15">
                <img src="{{ Image(img_url ~ '/rooms/US_Marguerite_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/US_Marguerite_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_15">
                    <img src="{{ Image(img_url ~ '/rooms/US_Marguerite_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Marguerite_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_15">
                    <img src="{{ Image(img_url ~ '/rooms/US_Marguerite_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Marguerite_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_4_15">
                    <img src="{{ Image(img_url ~ '/rooms/US_Marguerite_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div
                        class="d-none">{# <a href="{{ img_url }}/rooms/US_Iris_1200x800-05.jpg" class="smallgallery__image mobx" data-rel="gallery_4_15"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Roses - Odyssey Burj</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ Green plant</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ 2 sinks in the classroom</li>
                <li>+ 3 sinks and changing table – in the bathroom</li>
                <li>+ Air purifying machine</li>
                <li>+ Stackable sleeping beds</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Burj_Roses_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_3">
                <img src="{{ Image(img_url ~ '/rooms/Burj_Roses_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Burj_Roses_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_3">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Roses_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Roses_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_3">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Roses_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Roses_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_3">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Roses_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div
                        class="d-none">{# <a href="{{ img_url }}/rooms/Burj_Roses_1200x800-05.jpg" class="mobx" data-rel="gallery_5_3"></a>
																																																																																							<a href="{{ img_url }}/rooms/Burj_Roses_1200x800-06.jpg" class="mobx" data-rel="gallery_5_3"></a> #}
                </div>
            </div>
        </section>
    </div>
</div>