<div id="collapse__management-team" class="collapse infotab__body show">
    <div class="infotab__left">
        <h6 class="infotab__subtitle">Diana Zeidan</h6>
        <p class="infotab__subtitle-2">
            Area Director<br>
            Umm Sequim, Umm Al Sheif and Living Legends
        </p>
        <div class="infotab__text">
            <p>I&rsquo;m a mother of 2 young girls: Yara who&rsquo;s 15 years old and Yendi who&rsquo;s 11.
                I have more than 17 years&rsquo; of experience as a Director of Education and as a founder
                and owner of nurseries, with a Master&rsquo;s degree in Educational Leadership from
                Roehampton University, UK.</p>

            <p>I have wanted to work in early years&rsquo; education for as long as I can remember as it has
                always been my dream job! I love what I do and will continue passing my love and passion for
                education to our children. At Odyssey we believe in putting the children back in touch with
                their senses, and not just their fingertips. For me, inspiring the greatness within each and
                every child is a calling to set the roots for adult happiness.</p>
        </div>
    </div>

    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url ~ '/team/Diana.jpg' }}" class="smallgallery__featured mobx">
                <img src="{{ Image(img_url ~ '/team/Diana.jpg')|resize(450, 350, 'center') }}"/>
            </a>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Hoda El Naddaf</h6>
        <p class="infotab__subtitle-2">
            Academic Director<br>
            Burj, Um Suqueim, Living Legends
        </p>
        <div class="infotab__text">
            <p>Living in Italy for many years had given me lots of opportunities to visit the Loris
                Malaguzzi International Center in Italy, exchanging knowledge with pedagogists around the
                world.&#160;</p>

            <p>After my experience in Italy, I relocated to Dubai willing to pursue my passion in early
                years Education and for the Reggio Philosophy. I have been with KFG group Since 2014. &#160;I
                am currently the Academic Director at Odyssey Nursery Burj, celebrating my knowledge with
                our educators, conducting workshops, training, and coaching the Educators helping them to
                stay up-to-date with new trends, learn innovative strategies, techniques, methods for
                classroom challenges, observations, documentations, in order to make our children&rsquo;s
                learning visible as well helping them to build skills for Life.&#160; The best part of my
                journey is seeing the joy and happiness in each child in our Nursery, as well as encouraging
                our Educators to think outside the box, to alter their mindset from the traditional pedagogy
                to an innovative Reggio way.&#160;</p>

            <p>Why we are different? Because our priority is the Reggio KFG child. His voices are heard, his
                choices are respected. Education for us is not only a tool to prepare the child for school,
                but to create a community of happiness and joy for learning. To build identity and future
                with the child, to give him or her every chance and opportunity not only to be, but to
                become who he or she should be.&#160; Our KFG child is Ready for the Future, is a creative
                thinker, capable to face conflicts and solve problems, but the most important part, He or
                She is a good citizen.&#160;</p>

            <p>I am preparing to Launch my Book about the Philosophy of Reggio Emilia Approach in Arabic and
                English, within this year.</p>
        </div>
    </div>

    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/team/Hoda.jpg" class="smallgallery__featured mobx">
                <img src="{{ Image(img_url ~ '/team/Hoda.jpg')|resize(450, 350, 'center') }}"/>
            </a>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Rola Touckly</h6>
        <p class="infotab__subtitle-2">
            Nursery Manager<br>
            Umm Suqeim
        </p>
        <div class="infotab__text">
            <p>In line with the Reggio Emilia philosophies, I view children as capable, collaborative,
                co-constructors of knowledge. Our role as educators is to empower the children to take
                ownership of their learning. We facilitate their exploration, investigation, innovation,
                critical thinking and creativity. As the manager of Odyssey Nursery, I ensure that the
                children (and their families) are provided with lots of opportunities to grow and become
                life-long learners. My favorite time of the day is the morning drop off, when I get to
                welcome all the children and their parents into their second home.</p>
        </div>
    </div>

    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url ~ '/team/Rola.jpg' }}" class="smallgallery__featured mobx">
                <img src="{{ Image(img_url ~ '/team/Rola.jpg')|resize(450, 350, 'center') }}"/>
            </a>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Jennifer Carswell</h6>
        <p class="infotab__subtitle-2">
            Nursery Manager
        </p>
        <div class="infotab__text">
            <p>I have had 14 years and counting experience working within the childcare sector. During these
                14 years I aim is to always support children within their early years by implementing good
                practice. Learning through play, supporting a child’s individual interest and allowing a
                child to express and be happy within nursery is at the heart of my management skills. I have
                been in Dubai for the last 4 years,  I spent 4 years in management within Al Noor Nursery
                which was based inside the government ‘Ministry of Education’ building where I catered for
                the Ministry of Education employees. I am originally from Scotland, United Kingdom.</p>
            <p>Before moving to Dubai I also done work in Johannesburg and Soweto (South Africa). I helped
                open childcare settings for depraved children to be giving the right to education. I Spent
                almost 6 months there volunteering.</p>
            <p>I am qualified with my CACHE level 5 in leadership for health and social care and young
                children and young people’s services. I am also studying my BA in early childhood
                studies.</p>
        </div>
    </div>

    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url ~ '/team/Jenny.photo.jpg' }}" class="smallgallery__featured mobx"
               style="height: 450px;">
                <img src="{{ Image(img_url ~ '/team/Jenny.photo.jpg')|resize(450, 550, 'top') }}"/>
            </a>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Nour Nehme</h6>
        <p class="infotab__subtitle-2">
            Nursery Administrator<br>
            Living Legends
        </p>
        <div class="infotab__text">
            <p>I have 5 years experience in early years education, and completed my Bachelor&rsquo;s degree
                in Banking and Finance from the Lebanese International University of Beirut.</p>

            <p>Early years education is a path that I got into in 2014 and entirely fell in love with. As an
                educator I had the ability to connect with little children and create smiles on their faces
                as I discovered with them their new abilities and love for learning, and now I continue in
                his path by providing the support to our teachers and teams and help them deliver best child
                and education experience.</p>
        </div>
    </div>

    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url ~ '/team/Nour.jpg' }}" class="smallgallery__featured mobx">
                <img src="{{ Image(img_url ~ '/team/Nour.jpg')|resize(450, 350, 'center') }}"/>
            </a>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Lizahn Geyser</h6>
        <p class="infotab__subtitle-2">
            Nursery Manager<br>
            Khalifa City A
        </p>
        <div class="infotab__text">
            <p>I have been in Abu Dhabi for 5 years and I live with my husband, 6-year-old son and 1 year
                old daughter, who also attends Odyssey Nursery. I have 12 years&rsquo; experience in Early
                Years Education from the EYFS British curriculum, CAPS curriculum, Montessori and Reggio
                Emilia.</p>

            <p>I started my childcare journey in the UK working with children, newborn up to the age of 5. I
                discovered that my true calling is to educate young children. In South Africa I continued my
                journey teaching Grade 1, working my way up to the Head of Department in the Foundation
                Phase. I expanded my experience working at a Montessori school in a little town called
                Heidelberg, finally moving to the magnificent United Arab Emirates where I obtained my
                Montessori Diploma through NAMC. I started my journey at Ladybird Nursery as a Teacher,
                later obtaining the role of Deputy Manager and then transferred to Odyssey Nursery, within
                KFG.</p>

            <p>It has been such an incredible adventure and privilege to have worked in different parts of
                the world and gaining the knowledge and experiencing the different approaches to learning.
                Each unique and forms the foundation of early development. With the brilliance, dedication,
                passion and devoted love from every educator, the key factor to the success of developing
                and scalping the young minds. As the Nursery Manager I will continue living out my passion
                and ensure the highest standards are met, so all our children can leave Odyssey Nursery with
                a smile and happy heart every day.</p>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url ~ '/team/Lizahn.jpg' }}" class="smallgallery__featured mobx">
                <img src="{{ Image(img_url ~ '/team/Lizahn.jpg')|resize(450, 350, 'center') }}"/>
            </a>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Rana Turk</h6>
        <p class="infotab__subtitle-2">
            Administrative Manager<br>
            Khalifa City
        </p>
        <div class="infotab__text">
            <p>I have been in Abu Dhabi for almost 10 years, and I live with my husband and one daughter who
                is in 10th Grade while my older daughter is in her first year of university in Germany.</p>

            <p>I have over 10 years of experience in the education field with 9 years within Early Years
                Education. I started as a nursery schoolteacher and have now expanded my role. I have taken
                numerous training courses provided by EYES Middle East and received my CACHE Level 3 Diploma
                for Early Years Education in 2016, as well as a Bachelor&rsquo;s in Music Piano in 1999.</p>

            <p>After being a stay-at-home mom and watching my girls grow up and go to school, I realized how
                important early years are to a child&rsquo;s development and wanted to commit myself to help
                build strong foundations for as many children as possible, so they can see that anything is
                possible. I feel that with the proper support, nurturing and encouragement children can
                reach further to become the best version of their self.</p>

            <p>It&rsquo;s very important to me that Odyssey Nursey provides a safe environment that promotes
                growth and learning. These years are so precious and valuable for our children and we want
                to make sure that they are provided with the proper tools and compassion, while taking part
                in continuously new and exciting learning and experiences. Each child is unique, and we want
                to make they let their uniqueness shine. As Administrative Manager, I aim to be the first
                point of contact for the nursery and want to make sure we are running as efficiently as
                possible and addressing all our parent&rsquo;s needs, questions, and concerns, while making
                sure the nursery is staying safe and meeting or exceeding all required standards. We invite
                you to be a part of our family!</p>
        </div>
    </div>

    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url ~ '/team/Rana.jpg' }}" class="smallgallery__featured mobx">
                <img src="{{ Image(img_url ~ '/team/Rana.jpg')|resize(450, 350, 'center') }}"/>
            </a>
        </section>
    </div>

    <div class="infotab__hr"></div>

    {# <div class="infotab__left">
									<h6 class="infotab__subtitle">Iris Mae Amodia</h6>
									<p class="infotab__subtitle-2">
										Accountant<br>
										Khalifa City A
									</p>
									<div class="infotab__text">
										<p>I have a bachelor&rsquo;s degree in Business Administration, major in Management Accounting. Prior to joining the nursery, I was working for 12 years in the agriculture sector in the field of Administration, Warehousing, and Accounting, in the Philippines and here in UAE. My journey in Odyssey started during the Summer of 2018 and so far, this is one of the best moves I have made.</p>

										<p>My passion for the children started ever since I was young, and I am grateful that I am part of this dynamic team that really focuses on every developmental need of the child, along with the amazing support of the parents. I love the children and the opportunity to be there as they learn, grow, and flourished, it allows me to be myself and get in touch with the inner child in me.</p>
									</div>
								</div>

								<div class="infotab__right">
									<section class="smallgallery">
										<a href="{{ img_url ~ '/team/Iris.jpg' }}" class="smallgallery__featured mobx">
											<img src="{{ Image(img_url ~ '/team/Iris.jpg')|resize(450, 350, 'center') }}"/>
										</a>
									</section>
								</div>

								<div class="infotab__hr"></div> #}

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Maddi</h6>
        <p class="infotab__subtitle-2">
            Nursery Manager<br>
            Mushrif
        </p>
        <div class="infotab__text">
            <p>I am passionate about small and big people, the Reggio Emilia Approach and children's
                development. I am looking forward to keep innovating and creating real impact through
                education at our wonderful nursery Odyssey!</p>
        </div>
    </div>

    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url ~ '/team/Maddi.jpg' }}" class="smallgallery__featured mobx">
                <img src="{{ Image(img_url ~ '/team/Maddi.jpg')|resize(450, 350, 'center') }}"/>
            </a>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Manal</h6>
        <p class="infotab__subtitle-2">
            Admin Manager<br>
            Mushrif
        </p>
        <div class="infotab__text">
            <p>My friends would describe me as an easy going, a good listener, and a boxing lover. I don&rsquo;t
                like routine, cold weather, spiders and children..</p>
            <p>JUST KIDDING! I don&rsquo;t like any of those things except for children, they are the living
                messages we send to a time we will not see.</p>
        </div>
    </div>

    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url ~ '/team/Manal.jpg' }}" class="smallgallery__featured mobx">
                <img src="{{ Image(img_url ~ '/team/Manal.jpg')|resize(450, 350, 'center') }}"/>
            </a>
        </section>
    </div>
</div>