<footer class="footer">
    <div class="container">

        <section class="footer__bottom-nav">
            <nav>
                <ul class="d-flex flex-wrap align-items-center justify-content-center">
                    {% include "partial/footer-menu.twig" with {'menu': footer_menu.get_items} %}
                    {% if theme.theme_mod('facebook') %}
                        <li>
                            <a target="_blank" href="{{ theme.theme_mod('facebook') }}">
                                <img src="{{ img_url }}/facebook.svg" width="40" height="40" alt="Facebook icon">
                            </a>
                        </li>
                    {% endif %}
                    {% if theme.theme_mod('instagram') %}
                        <li class="footer__li--instagram">
                            <a target="_blank" href="{{ theme.theme_mod('instagram') }}">
                                <img src="{{ img_url }}/instagram.svg" width="40" height="40" alt="Instagram icon">
                            </a>
                        </li>
                    {% endif %}
                    {% if theme.theme_mod('youtube') %}
                        <li>
                            <a target="_blank" href="{{ theme.theme_mod('youtube') }}">
                                <img src="{{ img_url }}/youtube.svg" width="40" height="40" alt="Youtube icon">
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </section>

        <div class="footer__logos">
            {# {% set logo = fn('get_field', 'footer_logo', 'option') %} #}

            <div class="w-100 mt-4 mb-4 text-center">
                {% set logo = { url:  img_url ~ '/ODN-logo-white.svg' } %}
                {% if logo %}
                    <a href="{{ site.link }}" class="mr-5">
                        <img class="main-logo" src="{{ logo.url }}" class="img-fluid" alt="{{ site.name }} logo">
                    </a>

                    <a href="https://kidsfirstgroup.com/" target="_blank">
                        <img src="{{ img_url }}/kfg-logo.jpg" width="76" height="100" alt="KFG logo">
                    </a>
                {% else %}
                    <span class="mr-5">{{ site.name }}</span>
                {% endif %}
            </div>
        </div>
        <span class="footer__copy">
      ©{{ "now"|date('Y') }} {{ site.title }}. All Rights Reserved
    </span>
    </div>
</footer>

<footer class="footer-bottom">
    <div class="container d-flex justify-content-center align-items-center flex-wrap flex-nowrap-md">
       {# <span>Website strategy, creativity &amp; development by</span>
        <a target="_blank" href="https://jmarketing.agency/">
            <img src="{{ img_url }}/jmarketing-logo.svg" width="45" height="26" alt="JMarketing Logo">
        </a>#}
    </div>
</footer>
{% if theme.theme_mod('whatsapp') %}
    {% if fn('is_front_page') %}
        <div class="whatsapp_badge">
            <a target="_blank"
               href="https://api.whatsapp.com/send?phone={{ theme.theme_mod('whatsapp')|replace({" ":"","+":"","-":"","_":''}) }}&amp;text=I%20would%20like%20more%20information%20about%20the%20nursery">
                <img src="{{ img_url }}/whtasapp_badge.png"
                     srcset="{{ img_url }}/whatsapp-badge-2x.png 2x"
                     class="img-fluid desktop">
                <img src="{{ img_url }}/whatsapp-small.png"
                     class="img-fluid mobile">
            </a>
        </div>
    {% else %}
        <div class="whatsapp_badge">
            <a target="_blank"
               href="https://api.whatsapp.com/send?phone={{ theme.theme_mod('whatsapp')|replace({" ":"","+":"","-":"","_":''}) }}&amp;text=I%20would%20like%20more%20information%20about%20the%20nursery">
                <img src="{{ img_url }}/whatsapp.png"
                     srcset="{{ img_url }}/whatsapp-2x.png 2x"
                     class="img-fluid desktop">
                <img src="{{ img_url }}/whatsapp-small.png"
                     class="img-fluid mobile">
            </a>
        </div>
    {% endif %}
{% endif %}

{% include 'partial/upsell-popup.twig' %}