{% extends "base.twig" %}
{% block content %}

    <section class="text_section_v2">
        <div class="container text-center">
            <div class="text_section_v2__wrapper">
                <h4 class="text_section_v2__title">
                    helping creative young minds
                    <br>get ahead in life
                </h4>
                <h5 class="text_section_v2__subtitle">
                    At Odyssey Nursery, we cultivate your child’s creativity and independence through child-directed
                    activities filled with joy and freedom.
                </h5>
                <div class="text_section_v2__text">
                    <p>
                        We created Odyssey Nursery for artistic parents who want to raise the creative leaders of
                        tomorrow. By helping children become independent free-thinkers through fun & engaging
                        activities, we are committed to redefining the concept of early education.
                    </p>
                    <p>
                        Our Reggio Emilia based approach ensures children learn in the way that best suits them. One of
                        our core concepts is that your child must have fun and be free while learning. Our children can
                        lose themselves in a safe world of adventure, make new friends and be happy whilst cultivating
                        the academic and social skills that will set them apart in the world.
                    </p>
                    <p>
                        Odyssey Nursery is undoubtedly the best way for young creative minds to cultivate independence,
                        keep their free thinking alive, and get into the best schools later in life. This is no ordinary
                        nursery. Book a visit and come see it for yourself.
                    </p>
                </div>

                <div class="d-flex justify-content-center flex-wrap mt-5">
                    <a href="contact-us/" class="button mr-0 mr-md-2 mt-2 mt-md-0">GET IN TOUCH</a>
                    <a href="{{ virtual_tours_url }}" class="button button--secondary mt-2 mt-md-0">Our culture</a>
                </div>

            </div>
        </div>
    </section>

    <section class="py-5" style="background-color: var(--primary-color); color: black;" >
        <div class="container py-5" >
        <section class="infosection">
            <div class="infosection__body">
            <h6 class="infosection__title">Happy Staff = Happy Child</h6>
            <div class="infosection__text">
                <p>Our pre-schools have been awarded the prestigious 'Great Place to Work' certificate based on an extensive survey among all our staff!</p>

                <p>By fostering a supportive and inspiring environment for our staff, we ensure that your child receives the utmost care and nurturing, setting the stage for their happiness, and solid foundation for the future.</p>

                <p>At our pre-schools, we believe that happy staff leads to happy children. By creating a supportive and inspiring environment for our team, we ensure that every child receives the highest level of care and nurturing. We understand that the early years are crucial for building a solid foundation for their future, and we take this responsibility seriously.</p>

                <p>With the 'Great Place to Work' certification, you can have confidence that our staff is not only motivated and passionate but also fully committed to your child's happiness and development. From their first steps through to their educational journey, we strive to provide a warm, welcoming, and stimulating environment that encourages exploration, curiosity, and a lifelong love of learning.</p>
            </div>
            <div class="d-flex flex-wrap mt-5">
                <a href="#form" class="button mr-2 mr-lg-2 mt-2 mt-lg-0">Book a tour</a>
                <a href="https://greatplacetowork.me/certified-organization/kids-first-group-llc/" class="button button--secondary white mt-2 mt-lg-0">Learn More</a>
            </div>
            </div>
            <div class="infosection__image h-auto text-right">
            <img src="{{ img_url }}/DSC00826_3.jpg" class="img-fluid">
            </div>
        </section>
        </div>
    </section>

    <section class="short_banner text-center" style="background-image: url('{{ img_url }}/about_background.jpg')">
        <div class="container pt-4">
            <div class="short_banner__wrap">
                <div class="w-100 mb-4">
                    <img src="{{ img_url }}/ODN-logo-white.svg" width="151" height="94">
                </div>

                <div class="short_banner__text" style="color: #FFF2DA">
                    allowing children to thrive <br>through exploration & discovery
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 mt-5 mb-0 mb-md-0 pb-0 pb-md-5">
        <div class="container">
            <section class="infosection">
                <div class="infosection__body">
                    <h6 class="infosection__top_title">
                        Our mission
                    </h6>
                    <h6 class="infosection__title">
                        Creativity is rare
                        <br>in today’s world
                    </h6>
                    <div class="infosection__text">
                        <p>
                            NASA found that of a group of 1600 children, 98% scored at “creative genius” level. When the
                            same test was done on adults, however, only 2% scored at this level.
                        </p>
                        <p>
                            Creativity is a valuable resource rarely found in adults but abundant in children. The very
                            few people who can maintain it reap the rewards later in life.
                        </p>
                        <p>
                            Children are natural free thinkers, capable of coming up with imaginative and interesting
                            solutions which create innovation and move the world forward.
                        </p>
                    </div>

                </div>
                <div class="infosection__image">
                    <img src="{{ img_url }}/about-1.jpg">
                </div>
            </section>
        </div>
    </section>

    <section class="pt-5 mt-5 mb-0 mb-md-0 pb-0 pb-md-5">
        <div class="container">
            <section class="infosection infosection--reversed">
                <div class="infosection__body">
                    <h6 class="infosection__top_title">
                        Our approach
                    </h6>
                    <h6 class="infosection__title">
                        cultivating free<br> thinking in children
                    </h6>
                    <div class="infosection__text">
                        <p>
                            As children enter school, they are taught to think and act in the same way as the other
                            kids. This traditional approach to education squashes your child’s ability to be different,
                            draining their motivation to lead through creativity and innovation.
                        </p>
                        <p>
                            At Odyssey Nursery, we are committed to fostering free thinking and keeping the creativity
                            in children alive for the rest of their lives. This was the challenge we set ourselves.
                        </p>
                    </div>
                </div>
                <div class="infosection__image">
                    <img src="{{ img_url }}/about-2.jpg" class="img-fluid">
                </div>
            </section>
        </div>
    </section>



    <section class="text_section_v2" style="background-color: #F2EDE9;">
        <div class="container text-center">
            <div class="text_section_v2__wrapper">
                <h6 class="text_section_v2__top_title">
                    Our Approach
                </h6>
                <h4 class="text_section_v2__title">
                    Effective early education
                    <br>for independent minds

                </h4>
                <h5 class="text_section_v2__subtitle">
                    A strategic approach is essential to nurture creativity, stimulate free thinking, and develop a love
                    for learning in your child. At Odyssey Nursery, we perfected that approach and our results are proof
                    of this.
                </h5>
                <div class="text_section_v2__text">
                    <p>
                        To ensure the rapid development of your child, Odyssey Nursery adopts the best parts of the
                        globally renowned Reggio Emilia approach and the Washington State Early Learning Developmental
                        Benchmarks.
                    </p>
                    <p>
                        Combining these two approaches creates an ideal framework for children’s growth. Reggio Emilia
                        provides children with an open learning environment where they are free to explore and find what
                        ignites their imagination. At the same time, the Washington Early Learning system will prepare
                        your child to enter any school in the USA or internationally.
                    </p>
                    <p>
                        Our goal is to provide your child with the skills to fulfill their potential. This includes
                        creative and academic abilities. However, we see emotional and social skills as just as
                        important. Our early learning practitioners are trained in methods to nurture your child’s body,
                        mind, and heart. It’s no surprise hundreds of parents are delighted with Odyssey Nursery. You
                        have to see it with your own eyes to fully appreciate it.
                    </p>
                </div>

                <div class="d-flex justify-content-center flex-wrap mt-5">
                    <a href="#form" class="button mr-0 mr-md-2 mt-2 mt-md-0">GET IN TOUCH</a>
                    <a href="{{ virtual_tours_url }}" class="button button--secondary mt-2 mt-md-0">Virtual Tours</a>
                </div>

            </div>
        </div>
    </section>

    <section class="large_img_section mb-2 pb-5 pt-5 d-none d-md-block">
      <img src="{{ img_url }}/Group2963-reviews.jpg">
    </section>

    <section class="large_img_section mb-2 pb-5 pt-5 d-block d-md-none">
      <img src="{{ img_url }}/Group2989-mobile.jpg">
    </section>

    <section class="pt-5 mt-5 mb-0 mb-md-0 pb-0 pb-md-5">
        <div class="container">
            <section class="infosection infosection--reversed">
                <div class="infosection__body">
                    <h6 class="infosection__top_title">
                        People behind Odyssey
                    </h6>
                    <h6 class="infosection__title">
                        A leadership team<br> with vision
                    </h6>
                    <div class="infosection__caption">
                        Odyssey executives lead by example and guide everyone to accomplish great things. Together,
                        we’re committed to redefining the concept of early education.
                    </div>
                    <div class="infosection__text">
                        <p>
                            Our wonderful management team is made by mothers who want to help as many children as
                            possible to reach further and become the best version of themselves.
                        </p>
                        <p>
                            With decades of experience under their belts, our executives follow the Reggio Emilia
                            approach to put every child back in touch with their senses, fully engaging their minds and
                            accelerating their growth. At Odyssey, you will find a community filled with love and joy
                            where your child will build the roots for adult happiness and success. Book a tour and come
                            see it for yourself.
                        </p>
                    </div>

                    <div class="mt-5">
                        <a href="#form" class="button">BOOK A TOUR</a>
                    </div>
                </div>
                <div class="infosection__image">
                    <img src="{{ img_url }}/People_behind_Odyssey.jpg" class="img-fluid">
                </div>
            </section>
        </div>
    </section>

    <section class="mb-5 pb-5 mt-5 pt-5">
        <div class="container">
            <section class="infosection">
                <div class="infosection__body order-2 order-md-1">
                    <h6 class="infosection__top_title">
                        Early learning practitioners
                    </h6>
                    <h6 class="infosection__title">
                        Dedicated early
                        <br> learning practitioners
                    </h6>

                    <div class="infosection__caption">
                        At Odyssey, we realise the awesome responsibility of caring for young children and giving them
                        their first introduction to the world outside home. That’s why all our early learning
                        practitioners are dedicated and committed to excellence.
                    </div>

                    <div class="infosection__text">
                        <p>
                            Our early-learning practitioners have a variety of qualifications, from CACHE 3-5 to FS1,
                            FS2, and other relevant certifications. The most important factor, though, is their drive to
                            deliver the best education possible for the young minds in our care. That will always be our
                            priority.
                        </p>
                        <p>
                            If you’d like to discuss our approach further, and how we can help your child, please click
                            the button below to get in touch. We can arrange a nursery tour and a chat with one of our
                            knowledgeable staff, who will be able to answer all your questions.
                        </p>
                    </div>
                    <div class="mt-5">
                        <a href="#form" class="button">BOOK A TOUR</a>
                     {#   <a href="#/" class="button button--secondary mt-2 mt-md-0">MEET OUR TEAM</a>#}
                    </div>

                </div>
                <div class="infosection__image order-1 order-md-2 mb-5 mb-0">
                    <img src="{{ img_url }}/Early_learning_practitioners.jpg" class="img-fluid">
                </div>
            </section>
        </div>
    </section>


    {% include 'partial/fullwidth-form.twig' %}


{% endblock %}
