{% extends "base.twig" %}

{% block content %}

    <section class="text_section_v2 pb-0">
        <div class="container text-center">
            <div class="text_section_v2__wrapper">
                <h4 class="text_section_v2__title">Where your best work<br> meets your best self</h4>
                <div class="text_section_v2__text">
                    <p>Calling all teachers and early education experts. If you're committed to serious and continuous
                        growth, embrace change, and are ready to take your career up a notch by working with some of the
                        leading minds in educational research, you've come to the right place. And we're really glad
                        you're here.</p>
                    <p>Working with Odyssey Nursery means being surrounded by smart, passionate people who
                        inspire you to do your best work and be your best self. Together we will shape the minds of the
                        future through learning and early education.</p>
                    <p>
                        <a href="mailto:careers@website.com"
                           class="mt-2 pl-5 pr-5 button button--green button--text-no-transform">
                            Email CV to: careers@website.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="short_banner text-center" style="background-image: url('{{ img_url }}/carrers_background.jpg')">
        <div class="container pt-5 pb-5">
            <div class="short_banner__wrap">
                <div class="w-100 mb-4">
                    <img src="{{ img_url }}/ODN-logo-white.svg" width="89" height="94">
                </div>

                <div class="short_banner__text mb-0 mw-700 ml-auto mr-auto" style="color: #FFF2DA">
                    The Future of Education
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 pb-5">
        <div class="container">
            <section class="infosection pb-5">
                <div class="infosection__body">
                    <h6 class="infosection__title">We help you succeed</h6>
                    <div class="infosection__text">
                        <p>We help you achieve your career goals and aspirations through our Professional Development
                            Programme, which identifies potential candidates for career progression and participation at
                            local and overseas conferences, including the Reggio Emilia Study Group.</p>
                    </div>

                    <div class="mt-5">
                        <a href="mailto:careers@website.com"
                           class="mt-2 pl-5 pr-5 button button--green button--text-no-transform">
                            Email CV to: careers@website.com
                        </a>
                    </div>
                </div>
                <div class="infosection__image">
                    <img src="{{ img_url }}/carrers-1.jpg">
                </div>
            </section>

            <section class="infosection infosection--reversed pt-5 pb-5">
                <div class="infosection__body">
                    <h6 class="infosection__title">Live your best life in and out<br> of the office</h6>
                    <div class="infosection__text">
                        <p>We believe you need to be happy and fulfilled inside and outside the office to deliver your
                            best work. Here at Odyssey Nursery, we provide flexible working options to make
                            sure that happens, meaning you can work full days and half days on occasion.</p>
                    </div>

                    <div class="mt-5">
                        <a href="mailto:careers@website.com"
                           class="mt-2 pl-5 pr-5 button button--green button--text-no-transform">
                            Email CV to: careers@website.com
                        </a>
                    </div>
                </div>
                <div class="infosection__image">
                    <img src="{{ img_url }}/carrers-2.jpg">
                </div>
            </section>

            <section class="infosection pb-5 pt-5">
                <div class="infosection__body">
                    <h6 class="infosection__title">Join our community</h6>
                    <div class="infosection__text">
                        <p>
                            Odyssey Nursery provides you with all the tools and resources you need to excel at your
                            position. Having a positive and unique environment filled with highly dedicated and
                            enthusiastic teachers is paramount to us.
                        </p>
                        <p>
                            Our state-of-the-art educational facilities are fully equipped with some of the latest
                            innovative resources and materials to cater to modern children and give you an exciting and
                            forward-looking working culture every day.
                        </p>
                        <p>
                            If you are interested in joining our nursery team, Please email your C.V. to:
                            carrers@website.com
                        </p>
                    </div>

                    <div class="mt-5">
                        <a href="mailto:careers@website.com"
                           class="mt-2 pl-5 pr-5 button button--green button--text-no-transform">
                            Email CV to: careers@website.com
                        </a>
                    </div>
                </div>
                <div class="infosection__image">
                    <img src="{{ img_url }}/carrers-3.jpg">
                </div>
            </section>

        </div>
    </section>


{% endblock %}
