{% extends "base.twig" %}
{% block content %}

    <section class="text_section_v2">
        <div class="container text-center">
            <div class="text_section_v2__wrapper">
                <h4 class="text_section_v2__title">
                    natural environments designed<br>
                    for self-discovery and social play
                </h4>
                <div class="text_section_v2__text">
                    <p>
                        Your child develops faster when exploring new things. At Odyssey, we maximise children’s
                        development by providing natural, safe environments which they can explore and interact with.
                    </p>
                    <p>
                        By allowing every child to play as they want, we nurture their free thinking while cultivating
                        vital social skills like empathy and the ability to relate to others. Children in these
                        environments quickly gain the ability to navigate their world, setting them up for success later
                        in life.
                    </p>
                </div>

                <div class="d-flex justify-content-center flex-wrap mt-5">
                    <a href="#form" class="button mr-0 mr-md-2 mt-2 mt-md-0">REGISTER TODAY</a>
                    <a href="{{ virtual_tours_url }}" class="button button--secondary mt-2 mt-md-0">Our culture</a>
                </div>

            </div>
        </div>
    </section>

    <section class="fullgallery" id="enviroment-fullgallery">
        {# <div class="container">
      <div class="fullgallery__heading">
        <h5 class="fullgallery__title" style="font-family: var(--secondary-font-name)"></h5>
        <div class="fullgallery__text">
        </div>
      </div>
    </div> #}
        <div class="fullgallery__imgs">
            {% set image_urls = [
                img_url ~ '/OdysseyGallery/environment/1.jpg',
                img_url ~ '/OdysseyGallery/environment/2.jpg',
                img_url ~ '/OdysseyGallery/environment/3.jpg',
                img_url ~ '/OdysseyGallery/environment/4.jpg',
                img_url ~ '/OdysseyGallery/environment/5.jpg',
                img_url ~ '/OdysseyGallery/environment/6.jpg',
                img_url ~ '/OdysseyGallery/environment/7.jpg',
                img_url ~ '/OdysseyGallery/environment/8.jpg',
                img_url ~ '/OdysseyGallery/environment/9.jpg',
                img_url ~ '/OdysseyGallery/environment/10.jpg',
                img_url ~ '/OdysseyGallery/environment/11.jpg',
                img_url ~ '/OdysseyGallery/environment/12.jpg',
            ] %}

            {% for img_url in image_urls %}
                <a class="mobx" data-rel="galleryEnvironment"
                   data-thumb="{{ img_url }}"
                   href="{{ img_url }}">
                    <img src="{{ Image(img_url)|resize(530, 300, 'center') }}">
                </a>
            {% endfor %}
        </div>

    </section>

    <section class="list_section">
        <div class="container">
            <div class="list_section__heading">
                <h4 class="list_section__title">
                    Natural settings<br>
                    for child-directed play
                </h4>
                <h5 class="list_section__subtitle">
                    Our specifically crafted environments allow every child the freedom to play as they want, nurturing
                    their creativity and free thinking. Odyssey children grow into the best version of themselves.
                </h5>
            </div>

            <div class="row">

                {% set items = [
                    {
                        title: 'Our classrooms',
                        text: 'We focus on building children’s cognitive, social, language, and creative skills with small sized classrooms tailored to their unique learning skills.'
                    },
                    {
                        title: 'Playing Fields',
                        text: 'Our playing fields are designed for open-ended discovery and problem-solving. At Odyssey, children gain a deeper understanding of the world around them.'
                    },
                    {
                        title: 'Play areas',
                        text: 'Play areas are designed to encourage communication and relationships. Your child will learn vital social skills through interactions with peers and adults.'
                    },
                    {
                        title: 'Perfoming arts',
                        text: 'We encourage children to develop their sense of self and explore their own emotions through artistic forms such as role play, theatre, and dance.'
                    },
                    {
                        title: 'Gym & sports',
                        text: 'Through physical activities, we ensure your child’s well being. Sports provide opportunities to enrich children’s lives, making them more satisfying and fulfilling. '
                    },
                    {
                        title: 'Music Room',
                        text: 'By following children’s ideas, we use the beauty of music to create fun and creative moments that will stimulate their brains. This allows for rapid development and growth.'
                    },
                    {
                        title: 'Art Room',
                        text: 'Through arts, we provide children with a unique experience of self-exploration. Children learn to communicate in different ways such as drawing and painting.'
                    },
                    {
                        title: 'Library',
                        text: 'By cultivating a love for learning, Odyssey children get ahead in their academic skills. It really isn’t a surprise that they are regularly admitted to the best schools later in life. '
                    },
                    {
                        title: 'Media Centre',
                        text: 'Children are often over-stimulated by fast-paced media. We encourage your child to engage with media in a more balanced way, as a supplement to physical learning.'
                    },
                ] %}

                {% for item in items %}
                    <div class="col-md-4 list_section__item">
                        <h5 class="list_section__item_title">{{ item.title }}</h5>
                        <div class="list_section__item_text">
                            <p>{{ item.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center flex-wrap mt-5">
                <a href="#form" class="button mr-0 mr-md-2 mt-2 mt-md-0">REGISTER TODAY</a>
                <a href="#enviroment-fullgallery" class="button button--secondary mt-2 mt-md-0">View Gallery</a>
            </div>
        </div>
    </section>

    <section class="short_banner short_banner--environment text-center"
             style="background-image: url('{{ img_url }}/background-school.jpg')">
        <div class="container pt-4">
            <div class="short_banner__wrap">
                <div class="w-100 mb-4">
                    <img src="{{ img_url }}/ODN-logo-white.svg" width="151" height="88">
                </div>

                <div class="short_banner__text" style="color: #FFF2DA">
                    The joy of childhood comes from learning<br> & discovering what you’re capable of
                </div>
            </div>
        </div>
    </section>

    <section class="mb-5 pb-5 pt-5 mt-5">
        <div class="container">
            <section class="infosection">
                <div class="infosection__body">
                    <h6 class="infosection__top_title">
                        beyond all safety protocols
                    </h6>
                    <h6 class="infosection__title">
                        qualified lead nurse<br> available 24/7
                    </h6>

                    <div class="infosection__caption">
                        We make sure to have a qualified Lead Nurse at all times ready to act in case of accidents and
                        emergencies.
                    </div>

                    <div class="infosection__text">
                        <p>
                            At Odyssey, we ensure children feel safe to explore the world around them. This desire to
                            probe and seek novelty, supported by all our safety protocols, gives every child the
                            opportunity to push the boundaries of their development and thus, nurture their creativity
                            and free thinking.

                        </p>
                    </div>

                    <div class="mt-5">
                        <a href="#form" class="button button--no-upper">
                            Request Tours & Information
                        </a>
                    </div>
                </div>
                <div class="infosection__image">
                    <img src="{{ img_url }}/environment-1.jpg">
                </div>
            </section>
        </div>
    </section>

    <section class="pt-5 mt-5 mb-5 pb-5">
        <div class="container">
            <section class="infosection infosection--reversed">
                <div class="infosection__body">
                    <h6 class="infosection__top_title infosection__top_title">Healthy Mind & Body</h6>
                    <h6 class="infosection__title infosection__title--font48">
                        Planned Meals to develop good habits
                    </h6>
                    <div class="infosection__caption">
                        At Odyssey, you have the option of onsite catering for your child. We also accommodate many
                        dietary requirements.
                    </div>
                    <div class="infosection__text">
                        <p>
                            Mealtimes can be a daily challenge for some parents. To help with this, we have healthy
                            meals available onsite for your child.
                        </p>
                        <p>
                            Our specially designed meal plans support focus and learning. The children eat together,
                            learning from one another to be interested in food and supporting good eating habits later
                            in life.
                        </p>
                    </div>
                    <div class="mt-5">
                        <a href="#form" class="button button--no-upper">Request Tours & Information</a>
                    </div>
                </div>
                <div class="infosection__image">
                    <img src="{{ img_url }}/environment-2.jpg" class="img-fluid">
                </div>
            </section>
        </div>
    </section>

    <section class="mb-5 pb-5 pt-5 mt-5">
        <div class="container">
            <section class="infosection">
                <div class="infosection__body">
                    <h6 class="infosection__top_title">Life After Nursery</h6>
                    <h6 class="infosection__title infosection__title--font48">Find Placement in the<br> world’s best
                        schools</h6>

                    <div class="infosection__caption">
                        Our approach to early education ensures children are already reading & doing foundational maths
                        as they’re ready to enter school.
                    </div>

                    <div class="infosection__text">
                        <p>
                            It’s no surprise Odyssey children get ahead and enroll in the best schools after nursery.
                            Our child-directed learning methodology gives children the fundamental academic skills they
                            need and the vital social savvy abilities to become successful later in life.
                        </p>
                    </div>

                    <div class="mt-5">
                        <a href="#form" class="button button--no-upper">
                            Request Tours & Information
                        </a>
                    </div>
                </div>
                <div class="infosection__image">
                    <img src="{{ img_url }}/environment-3.jpg">
                </div>
            </section>
        </div>
    </section>

    <section class="large_img_section mb-2 pb-5 d-none d-md-block">
      <img src="{{ img_url }}/reviews/environment.png">
    </section>

    <section class="large_img_section mb-2 pb-5 d-block d-md-none">
      <img src="{{ img_url }}/reviews/environment_mobile.png">
    </section>

    {% include 'partial/fullwidth-form.twig' %}

{% endblock %}
