{% extends "base.twig" %}
{% block content %}

    <section class="text_section_v2 pb-0">
        <div class="container text-center">
            <div class="text_section_v2__wrapper">
                <h4 class="text_section_v2__title">We'd Love To hear from you</h4>
                <h5 class="text_section_v2__subtitle">
                    Get in touch with us below. We’ll get back to you within one working day to answer any questions you
                    have.
                </h5>
            </div>
        </div>
    </section>

    <div class="container pb-5 mb-5">
        <div class="contact_us_items">

            {#{% if theme.theme_mod('address') %}
                <a target="_blank" href="http://maps.google.com/?q={{ theme.theme_mod('address')|url_encode }}"
                   class="contact_us_items__link">
                    <div class="contact_us_items__icon">
                        {% include 'raw-svg/location.twig' %}
                    </div>
                    <div class="contact_us_items__value">
                        {{ theme.theme_mod('address') }}
                    </div>
                </a>
            {% endif %}#}

            {% if theme.theme_mod('phone_1') %}
                <a href="tel:{{ theme.theme_mod('phone_1') }}" class="contact_us_items__link">
                    <div class="contact_us_items__icon">
                        {% include 'raw-svg/phone.twig' %}
                    </div>
                    <h6 class="contact_us_items__title">Call Us</h6>
                    <div class="contact_us_items__value">
                        {{ theme.theme_mod('phone_1') }}
                    </div>
                </a>
            {% endif %}

            {% if theme.theme_mod('whatsapp') %}
                <a target="_blank" href="https://wa.me/{{ theme.theme_mod('whatsapp') }}"
                   class="contact_us_items__link">
                    <div class="contact_us_items__icon">
                        {% include 'raw-svg/whatsapp.twig' %}
                    </div>
                    <h6 class="contact_us_items__title">Whatsapp</h6>
                    <div class="contact_us_items__value">
                        {{ theme.theme_mod('whatsapp') }}
                    </div>
                </a>
            {% endif %}

            {% if theme.theme_mod('contact_email') %}
                <a href="mailto:{{ theme.theme_mod('contact_email') }}" class="contact_us_items__link">
                    <div class="contact_us_items__icon">
                        {% include 'raw-svg/email.twig' %}
                    </div>
                    <h6 class="contact_us_items__title">Email Us</h6>
                    <div class="contact_us_items__value">
                        {{ theme.theme_mod('contact_email') }}
                    </div>
                </a>
            {% endif %}

        </div>
    </div>
    <div class="contact_us_form">
        {% include 'partial/fullwidth-form.twig' %}
    </div>

    <section class="text_section_v2 pb-0">
        <div class="container text-center">
            <div class="text_section_v2__wrapper">
                <h4 class="text_section_v2__title">Odyssey Nursery Contact info</h4>
            </div>
        </div>
    </section>

    <section class="pt-5 pb-5">
        <div class="container">
            {% for loc_category in loc_categories %}
            <h4 class="text_section_v2__title text-center">{{ loc_category.name }}</h4>
                <div class="row">
                    {% for post in loc_category.posts %}
                        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
