{% extends "base.twig" %}

{% block content %}

    <section class="text_section_v2 pb-0">
        <div class="container text-center">
            <div class="text_section_v2__wrapper">
                <h4 class="text_section_v2__title">Odyssey {{ post.title }}</h4>
                <h5 class="text_section_v2__subtitle">{{ post.short_description }}</h5>

                <div class="d-flex flex-wrap justify-content-center">
                    <a href="{{ virtual_tours_url }}" class="button mr-0 mr-md-2 mt-2 mt-md-0">View Virtual Tour</a>
                    <a href="#form" class="button button--secondary mt-2 mt-md-0">Book a Tour</a>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 pb-5 mt-5 mb-5">
        <div class="container">
            <div class="locationtab">
                <div class="locationtab__info">

                    <div class="locationtab__image">
                        {% if post.thumbnail.src %}
                            <img src="{{ post.thumbnail.src }}"/>
                        {% endif %}
                    </div>

                    <h5 class="locationtab__name">{{ post.title }}</h5>
                    <div class="locationtab__contacts">
                        {{ post.meta('details') }}
                    </div>

                    <a href="mailto:{{ post.email_address }}" class="button button--secondary locationtab__cta">Email
                        Branch</a>

                    <div class="locationtab__social">
                        <span>Follow</span>
                        <ul>
                            {% if post.facebook_url %}
                                <a target="_blank" href="{{ post.facebook_url }}" class="mr-2">
                                    <img src="{{ img_url }}/facebook.svg" width="31" height="31">
                                </a>
                            {% endif %}

                            {% if post.instagram_url %}
                                <a target="_blank" href="{{ post.instagram_url }}">
                                    <img src="{{ img_url }}/instagram.svg" width="31" height="31">
                                </a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="locationtab__body">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </section>

    {% if post.map_image %}
        <section class="d-none d-md-block mt-5">
            <img class="img-fluid w-100" src="{{ Image(post.meta('map_image')).src }}">
        </section>
    {% endif %}

    {% if post.mobile_map_image %}
        <section class="d-block d-md-none mt-5">
            <img class="img-fluid w-100" src="{{ Image(post.meta('mobile_map_image')).src }}">
        </section>
    {% endif %}

    {% if post.testimonials_image %}
        <section class="large_img_section pb-5 mt-5 pt-5 mt-5">
            <div class="container">
                <div class="large_img_section__heading">
                    <h6 class="large_img_section__top_title mb-4">
                        Parent Testimonials
                    </h6>
                    <h6 class="large_img_section__title">
                        what odyssey parents are saying
                    </h6>
                    <div class="large_img_section__text">
                        <p>
                            Early education is one of the most important decisions you make as a parent.<br>
                            See why hundreds of parents are raving about their children’s stay at Odyssey Nursery.
                        </p>
                    </div>
                </div>
            </div>

            {% if post.testimonials_image %}
                <section class="d-none d-md-block mb-5">
                <img class="img-fluid w-100" src="{{ Image(post.meta('testimonials_image')).src }}">
                </section>
            {% endif %}

            {% if post.testimonials_mobile_image %}
                <section class="d-block d-md-none mb-5">
                <img class="img-fluid w-100" src="{{ Image(post.meta('testimonials_mobile_image')).src }}">
                </section>
            {% endif %}

            <div class="d-flex flex-wrap justify-content-center pb-5 mb-5">
                <a href="#form" class="button mr-0 mr-md-2 mt-2 mt-md-0">Register Today</a>
                <a href="{{ locations_url }}" class="button button--secondary mt-2 mt-md-0">View Locations</a>
            </div>
        </section>
    {% endif %}

    {% include 'partial/fullwidth-form.twig' %}
{% endblock %}
