{% extends "base.twig" %}

{% block content %}
    <section class="text_section_v2 pb-0">
        <div class="container text-center">
            <div class="text_section_v2__wrapper">
                <h6 class="text_section_v2__top_title text_section_v2__top_title--blog">
                    {% for category in post.categories %}
                        {{ category.name }} &nbsp;
                    {% endfor %}
                </h6>
                <h4 class="text_section_v2__title">{{ post.title }}</h4>
            </div>
    </section>

    <div class="container">
        <article class="blog_single post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

            {% if post.thumbnail.src %}
                <img src="{{ post.thumbnail.src }}" class="img-fluid blog_single__img">
            {% endif %}

            <div class="blog_single__text">
                {{ post.content }}
            </div>

            <div class="blog_single__actions">
                {% if post.prev %}
                    <a href="{{ post.prev.link }}" class="button button--secondary">Previous Article</a>
                {% endif %}
                {% if post.next %}
                    <a href="{{ post.next.link }}" class="button button--secondary">Next Article</a>
                {% endif %}
            </div>
        </article>
    </div>
    {% if related_posts %}
        <section style="background: #F2EDE9;" class="pb-5">
            <div class="container">
                <section class="text_section_v2 pb-0" style="background-color: transparent">
                    <div class="text-center">
                        <div class="text_section_v2__wrapper">
                            <h4 class="text_section_v2__title">Other helpful articles</h4>
                        </div>
                </section>

                <div class="row pb-5">
                    {% for post in related_posts %}
                        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                    {% endfor %}
                </div>

            </div>
        </section>
    {% endif %}
{% endblock %}
