{% block content %}
    <div class="col-md-4 mb-5">
        <a href="{{ post.link }}" class="blog_section__item mb-5">
            <div class="blog_section__img">
                {% if post.thumbnail.src %}
                    <img src="{{ post.thumbnail.src }}"/>
                {% else %}
                    <img src="{{ img_url }}/image_placeholder.jpg"/>
                {% endif %}
            </div>
            <h6 class="blog_section__top_title">
                {{ post.category }}
            </h6>
            <h5 class="blog_section__title">{{ post.title }}</h5>
            <div class="blog_section__desc">
                {{ post.post_content|excerpt(12) }}
            </div>
        </a>
    </div>
{% endblock %}