{% block content %}
	<div class="col-md-3 mb-5 pb-5" >
		<div class="locationtab__info part">
			<div class="locationtab__image">
				{% if post.thumbnail.src %}
					<img src="{{ post.thumbnail.src }}"/>
				{% endif %}
			</div>

			<h5 class="locationtab__name">{{ post.title }}</h5>
			<div class="locationtab__contacts">
				{{ post.meta('details') }}
			</div>

			<a href="mailto:{{ post.email_address }}" class="button button--secondary locationtab__cta">Email Branch</a>

			<div class="locationtab__social">
				<span>Follow</span>
				<ul>
					{% if post.facebook_url %}
						<a target="_blank" href="{{ post.facebook_url }}" class="mr-2">
							<img src="{{ img_url }}/facebook.svg" width="31" height="31">
						</a>
					{% endif %}

					{% if post.instagram_url %}
						<a target="_blank" href="{{ post.instagram_url }}">
							<img src="{{ img_url }}/instagram.svg" width="31" height="31">
						</a>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}