<div id="collapse__child--roms-foundation" class="collapse show infotab__body">
    <div class="infotab__left">
        <h6 class="infotab__subtitle">Lilies - Odyssey Burj</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ Green plant</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ 2 sinks in the classroom</li>
                <li>+ 2 sinks and changing table – in the bathroom</li>
                <li>+ Air purifying machine</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Burj_LiliesClass_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_1">
                <img src="{{ Image(img_url ~ '/rooms/Burj_LiliesClass_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Burj_LiliesClass_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_1">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_LiliesClass_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_LiliesClass_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_1">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_LiliesClass_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_LiliesClass_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_1">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_LiliesClass_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/Burj_LiliesClass_1200x800-05.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_5_1"></a>
                    <a href="{{ img_url }}/rooms/Burj_LiliesClass_1200x800-06.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_5_1"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Orchids - Odyssey Burj</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ Green plant</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ 2 sinks in the classroom</li>
                <li>+ 2 sinks and changing table – in the bathroom</li>
                <li>+ Air purifying machine</li>
                <li>+ Stackable sleeping beds</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Burj_OrchidClass_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_2">
                <img src="{{ Image(img_url ~ '/rooms/Burj_OrchidClass_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Burj_OrchidClass_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_2">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_OrchidClass_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_OrchidClass_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_2">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_OrchidClass_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_OrchidClass_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_2">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_OrchidClass_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/Burj_OrchidClass_1200x800-05.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_5_2"></a>
                    <a href="{{ img_url }}/rooms/Burj_OrchidClass_1200x800-06.jpg" class="smallgallery__image mobx"
                       data-rel="gallery_5_2"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Lavender - Odyssey Burj</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ Green plant</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ 2 sinks in the classroom</li>
                <li>+ 3 sinks and changing table – in the bathroom</li>
                <li>+ Air purifying machine</li>
                <li>+ Stackable sleeping beds</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Burj_Lavender_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_3">
                <img src="{{ Image(img_url ~ '/rooms/Burj_Lavender_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Burj_Lavender_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_3">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Lavender_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Lavender_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_3">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Lavender_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Lavender_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_3">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Lavender_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/Burj_Lavender_1200x800-05.jpg" class="mobx" data-rel="gallery_5_3"></a>
                    <a href="{{ img_url }}/rooms/Burj_Lavender_1200x800-06.jpg" class="mobx" data-rel="gallery_5_3"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Marguerites - Odyssey Burj</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ Real plant</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ 2 sinks in the classroom</li>
                <li>+ 2 sinks and changing table – in the bathroom</li>
                <li>+ Air purifying machine</li>
                <li>+ Stackable sleeping beds</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Burj_Marguerites_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_4">
                <img src="{{ Image(img_url ~ '/rooms/Burj_Marguerites_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Burj_Marguerites_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_4">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Marguerites_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Marguerites_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_4">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Marguerites_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Marguerites_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_4">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Marguerites_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/Burj_Marguerites_1200x800-05.jpg" class="mobx"
                       data-rel="gallery_5_4"></a>
                    <a href="{{ img_url }}/rooms/Burj_Marguerites_1200x800-06.jpg" class="mobx"
                       data-rel="gallery_5_4"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Iris - Odyssey Burj</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ Real plant</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Mirror wall</li>
                <li>+ 1 sink in the classroom</li>
                <li>+ 2 sinks and changing table – in the bathroom</li>
                <li>+ Air purifying machine</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Burj_Iris_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_5">
                <img src="{{ Image(img_url ~ '/rooms/Burj_Iris_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Burj_Iris_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_5">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Iris_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Iris_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_5">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Iris_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Iris_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_5">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Iris_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/Burj_Iris_1200x800-05.jpg" class="mobx" data-rel="gallery_5_5"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Lotus - Odyssey Burj</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ Green plant</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ 2 sinks in the classroom</li>
                <li>+ 3 sinks and changing table – in the bathroom</li>
                <li>+ Air purifying machine</li>
                <li>+ Access to the large outdoor and playground areas</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Burj_Lotus_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_6">
                <img src="{{ Image(img_url ~ '/rooms/Burj_Lotus_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Burj_Lotus_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_6">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Lotus_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Lotus_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_6">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Lotus_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Lotus_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_6">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Lotus_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div
                        class="d-none">{# <a href="{{ img_url }}/rooms/Burj_Lotus_1200x800-05.jpg" class="mobx" data-rel="gallery_5_6"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Bluebells Class - Odyssey Burj</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ Green plant</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ 2 sinks in the classroom</li>
                <li>+ 3 sinks and changing table – in the bathroom</li>
                <li>+ Air purifying machine</li>
                <li>+ Stackable sleeping beds</li>
                <li>+ Access to large outdoor garden and play areas</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Burj_Bluebells_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_7">
                <img src="{{ Image(img_url ~ '/rooms/Burj_Bluebells_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Burj_Bluebells_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_7">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Bluebells_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Bluebells_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_7">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Bluebells_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Bluebells_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_7">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Bluebells_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">{# <a href="{{ img_url }}/rooms/Burj_Bluebells_1200x800-05.jpg" class="mobx" data-rel="gallery_5_7"></a> #}
                    {# <a href="{{ img_url }}/rooms/Burj_Bluebells_1200x800-06.jpg" class="mobx" data-rel="gallery_5_7"></a> #}
                    {# <a href="{{ img_url }}/rooms/Burj_Bluebells_1200x800-07.jpg" class="mobx" data-rel="gallery_5_7"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Daisies Class - Odyssey Burj</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ 2 sinks in the classroom</li>
                <li>+ 4 sinks and changing table – in the bathroom</li>
                <li>+ Air purifying machine</li>
                <li>+ Stackable sleeping beds</li>
                <li>+ Access to large outdoor garden and play areas</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Burj_Daisies_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_8">
                <img src="{{ Image(img_url ~ '/rooms/Burj_Daisies_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Burj_Daisies_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_8">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Daisies_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Daisies_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_8">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Daisies_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Burj_Daisies_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_8">
                    <img src="{{ Image(img_url ~ '/rooms/Burj_Daisies_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/Burj_Daisies_1200x800-05.jpg" class="mobx" data-rel="gallery_5_8"></a>
                    <a href="{{ img_url }}/rooms/Burj_Daisies_1200x800-06.jpg" class="mobx" data-rel="gallery_5_8"></a>
                    {# <a href="{{ img_url }}/rooms/Burj_Daisies_1200x800-07.jpg" class="mobx" data-rel="gallery_5_8"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Tulip - Odyssey Umm Suqieum</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and diaper change facility inside the classroom</li>
                <li>+ Access to indoor role play area</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/US_Tulip_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_9">
                <img src="{{ Image(img_url ~ '/rooms/US_Tulip_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/US_Tulip_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_9">
                    <img src="{{ Image(img_url ~ '/rooms/US_Tulip_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Tulip_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_9">
                    <img src="{{ Image(img_url ~ '/rooms/US_Tulip_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Tulip_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_9">
                    <img src="{{ Image(img_url ~ '/rooms/US_Tulip_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/US_Tulip_1200x800-05.jpg" class="mobx" data-rel="gallery_5_9"></a>
                    {# <a href="{{ img_url }}/rooms/US_Tulip_1200x800-06.jpg" class="mobx" data-rel="gallery_5_9"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Coquelicot - Odyssey Umm Suqieum</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and diaper change facility inside the classroom</li>
                <li>+ Access to indoor role play area</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/US_Coqueliot_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_10">
                <img src="{{ Image(img_url ~ '/rooms/US_Coqueliot_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/US_Coqueliot_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_10">
                    <img src="{{ Image(img_url ~ '/rooms/US_Coqueliot_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Coqueliot_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_10">
                    <img src="{{ Image(img_url ~ '/rooms/US_Coqueliot_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/US_Coqueliot_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_10">
                    <img src="{{ Image(img_url ~ '/rooms/US_Coqueliot_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">{# <a href="{{ img_url }}/rooms/US_Coqueliot_1200x800-05.jpg" class="mobx" data-rel="gallery_5_10"></a> #}
                    {# <a href="{{ img_url }}/rooms/US_Coqueliot_1200x800-06.jpg" class="mobx" data-rel="gallery_5_10"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Willows - Odyssey Mushrif</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows with garden view</li>
                <li>+ Toilet, sink and baby change facility</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/Mushrif_Willows_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_11">
                <img src="{{ Image(img_url ~ '/rooms/Mushrif_Willows_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/Mushrif_Willows_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_11">
                    <img src="{{ Image(img_url ~ '/rooms/Mushrif_Willows_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Mushrif_Willows_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_11">
                    <img src="{{ Image(img_url ~ '/rooms/Mushrif_Willows_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/Mushrif_Willows_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_11">
                    <img src="{{ Image(img_url ~ '/rooms/Mushrif_Willows_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">{# <a href="{{ img_url }}/rooms/Mushrif_Willows_1200x800-05.jpg" class="mobx" data-rel="gallery_5_11"></a> #}
                    {# <a href="{{ img_url }}/rooms/Mushrif_Willows_1200x800-06.jpg" class="mobx" data-rel="gallery_5_11"></a> #}
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    {# <div class="infotab__left">
																																																	<h6 class="infotab__subtitle">Palms - Odyssey Mushrif</h6>
																																																	<div class="infotab__text">
																																																		<p>
																																																			Room facilities and features include:
																																																		</p>
																																																		<ul class="list-unstyled">
																																																			<li>+ Natural light</li>
																																																			<li>+ AC unit</li>
																																																			<li>+ Large windows with garden view</li>
																																																			<li>+ Toilet, sink and baby change facility</li>
																																																			<li>+ Access to the nurse during operational hours</li>
																																																			<li>+ CCTV inside classroom (not for external use)</li>
																																																		</ul>
																																																	</div>
																																																</div>
																																																<div class="infotab__right">
																																																	<section class="smallgallery">
																																																		<a href="{{ img_url }}/rooms/Mushrif_Willows_1200x800-01.jpg" class="smallgallery__featured mobx" data-rel="gallery_5_12">
																																																			<img src="{{ Image(img_url ~ '/rooms/Mushrif_Willows_1200x800-01.jpg')|resize(465, 305, 'center') }}">
																																																		</a>
																																																		<div class="smallgallery__images">
																																																			<a href="{{ img_url }}/rooms/Mushrif_Willows_1200x800-02.jpg" class="smallgallery__image mobx" data-rel="gallery_5_12">
																																																				<img src="{{ Image(img_url ~ '/rooms/Mushrif_Willows_1200x800-02.jpg')|resize(135, 90, 'center') }}">
																																																			</a>
																																																			<a href="{{ img_url }}/rooms/Mushrif_Willows_1200x800-03.jpg" class="smallgallery__image mobx" data-rel="gallery_5_12">
																																																				<img src="{{ Image(img_url ~ '/rooms/Mushrif_Willows_1200x800-03.jpg')|resize(135, 90, 'center') }}">
																																																			</a>
																																																			<a href="{{ img_url }}/rooms/Mushrif_Willows_1200x800-04.jpg" class="smallgallery__image mobx" data-rel="gallery_5_12">
																																																				<img src="{{ Image(img_url ~ '/rooms/Mushrif_Willows_1200x800-04.jpg')|resize(135, 90, 'center') }}">
																																																			</a>

																																																			<div class="d-none">
																																																				<!-- <a href="{{ img_url }}/rooms/Mushrif_Willows_1200x800-05.jpg" class="mobx" data-rel="gallery_5_12"></a> -->
																																																			</div>
																																																		</div>
																																																	</section>
																																																</div>

																																																<div class="infotab__hr"></div> #}

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Cocoon - Odyssey Living Legends</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and diaper change facility inside the classroom</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ Access to large outdoor garden and play areas</li>
                <li>+ Access to indoor role play area</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/LL_Cocoon_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_13">
                <img src="{{ Image(img_url ~ '/rooms/LL_Cocoon_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/LL_Cocoon_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_13">
                    <img src="{{ Image(img_url ~ '/rooms/LL_Cocoon_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/LL_Cocoon_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_13">
                    <img src="{{ Image(img_url ~ '/rooms/LL_Cocoon_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/LL_Cocoon_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_13">
                    <img src="{{ Image(img_url ~ '/rooms/LL_Cocoon_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/LL_Cocoon_1200x800-05.jpg" class="mobx" data-rel="gallery_5_13"></a>
                    <a href="{{ img_url }}/rooms/LL_Cocoon_1200x800-06.jpg" class="mobx" data-rel="gallery_5_13"></a>
                    <a href="{{ img_url }}/rooms/LL_Cocoon_1200x800-07.jpg" class="mobx" data-rel="gallery_5_13"></a>
                    <a href="{{ img_url }}/rooms/LL_Cocoon_1200x800-08.jpg" class="mobx" data-rel="gallery_5_13"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Butterflies - Odyssey Living Legends</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet and sink inside the classroom</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ Access to large outdoor garden and play areas</li>
                <li>+ Access to indoor role play area</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/LL_Butterfly_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_14">
                <img src="{{ Image(img_url ~ '/rooms/LL_Butterfly_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/LL_Butterfly_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_14">
                    <img src="{{ Image(img_url ~ '/rooms/LL_Butterfly_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/LL_Butterfly_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_14">
                    <img src="{{ Image(img_url ~ '/rooms/LL_Butterfly_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/LL_Butterfly_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_14">
                    <img src="{{ Image(img_url ~ '/rooms/LL_Butterfly_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/LL_Butterfly_1200x800-05.jpg" class="mobx" data-rel="gallery_5_14"></a>
                    <a href="{{ img_url }}/rooms/LL_Butterfly_1200x800-06.jpg" class="mobx" data-rel="gallery_5_14"></a>
                    <a href="{{ img_url }}/rooms/LL_Butterfly_1200x800-07.jpg" class="mobx" data-rel="gallery_5_14"></a>
                    <a href="{{ img_url }}/rooms/LL_Butterfly_1200x800-08.jpg" class="mobx" data-rel="gallery_5_14"></a>
                </div>
            </div>
        </section>
    </div>

    <div class="infotab__hr"></div>

    <div class="infotab__left">
        <h6 class="infotab__subtitle">Caterpillars - Odyssey Living Legends</h6>
        <div class="infotab__text">
            <p>
                Room facilities and features include:
            </p>
            <ul class="list-unstyled">
                <li>+ Natural light</li>
                <li>+ AC unit</li>
                <li>+ Large windows</li>
                <li>+ Toilet, sink and diaper change facility inside the classroom</li>
                <li>+ Access to the nurse during operational hours</li>
                <li>+ Access to large outdoor garden and play areas</li>
                <li>+ Access to indoor construction play area</li>
                <li>+ CCTV inside classroom (not for external use)</li>
            </ul>
        </div>
    </div>
    <div class="infotab__right">
        <section class="smallgallery">
            <a href="{{ img_url }}/rooms/LL_Caterpillar_1200x800-01.jpg" class="smallgallery__featured mobx"
               data-rel="gallery_5_15">
                <img src="{{ Image(img_url ~ '/rooms/LL_Caterpillar_1200x800-01.jpg')|resize(465, 305, 'center') }}">
            </a>
            <div class="smallgallery__images">
                <a href="{{ img_url }}/rooms/LL_Caterpillar_1200x800-02.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_15">
                    <img src="{{ Image(img_url ~ '/rooms/LL_Caterpillar_1200x800-02.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/LL_Caterpillar_1200x800-03.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_15">
                    <img src="{{ Image(img_url ~ '/rooms/LL_Caterpillar_1200x800-03.jpg')|resize(135, 90, 'center') }}">
                </a>
                <a href="{{ img_url }}/rooms/LL_Caterpillar_1200x800-04.jpg" class="smallgallery__image mobx"
                   data-rel="gallery_5_15">
                    <img src="{{ Image(img_url ~ '/rooms/LL_Caterpillar_1200x800-04.jpg')|resize(135, 90, 'center') }}">
                </a>

                <div class="d-none">
                    <a href="{{ img_url }}/rooms/LL_Caterpillar_1200x800-05.jpg" class="mobx"
                       data-rel="gallery_5_15"></a>
                    <a href="{{ img_url }}/rooms/LL_Caterpillar_1200x800-06.jpg" class="mobx"
                       data-rel="gallery_5_15"></a>
                    <a href="{{ img_url }}/rooms/LL_Caterpillar_1200x800-07.jpg" class="mobx"
                       data-rel="gallery_5_15"></a>
                    <a href="{{ img_url }}/rooms/LL_Caterpillar_1200x800-08.jpg" class="mobx"
                       data-rel="gallery_5_15"></a>
                </div>
            </div>
        </section>
    </div>
</div>