<section class="ages pt-0 pb-0" id="ages">
    {# <div class="container">
    <h5 class="ages__title">Age Groups</h5>
    <div class="ages__subtitle">Select the age group of your child and learn about
      what they will experience at Willow Nursery</div>
  </div> #}

    <div class="tabs">
        <div class="container">
            <div class="tabs__items">
                <a class="tabs__item" data-toggle="collapse" href="#collapseAge1" role="button" aria-expanded="true"
                   aria-controls="collapseAge1">
                    <img class="tabs__icon" src="{{ img_url }}/baby-icon.svg" height="65">
                    <span class="tabs__title">Babies</span>
                    <span class="tabs__subtitle">3 - 12 Months</span>
                </a>
                <a class="tabs__item" data-toggle="collapse" href="#collapseAge2" role="button" aria-expanded="false"
                   aria-controls="collapseAge2">
                    <img class="tabs__icon" src="{{ img_url }}/toddler-icon.svg" height="65">
                    <span class="tabs__title">Toddlers</span>
                    <span class="tabs__subtitle">1 - 2 Years</span>
                </a>
                <a class="tabs__item" data-toggle="collapse" href="#collapseAge3" role="button" aria-expanded="false"
                   aria-controls="collapseAge3">
                    <img class="tabs__icon" src="{{ img_url }}/preschool-icon.svg" height="65">
                    <span class="tabs__title">Preschool</span>
                    <span class="tabs__subtitle">2 - 3 Years</span>
                </a>
                <a class="tabs__item" data-toggle="collapse" href="#collapseAge4" role="button" aria-expanded="false"
                   aria-controls="collapseAge4">
                    <img class="tabs__icon" src="{{ img_url }}/foundation-icon.svg" height="65">
                    <span class="tabs__title">Foundation</span>
                    <span class="tabs__subtitle">3 - 4 Years</span>
                </a>
                <a class="tabs__item" data-toggle="collapse" href="#collapseAge5" role="button" aria-expanded="false"
                   aria-controls="collapseAge4">
                    <img class="tabs__icon" src="{{ img_url }}/advanced_montessori_icon.png" width="64" height="64">
                    <span class="tabs__title">Foundation 2</span>
                    <span class="tabs__subtitle">4 - 6 Years</span>
                </a>
            </div>
        </div>
    </div>

    {% include 'partial/ages-tabs/babies.twig' %}
    {% include 'partial/ages-tabs/toddlers.twig' %}
    {% include 'partial/ages-tabs/preschool.twig' %}
    {% include 'partial/ages-tabs/foundation.twig' %}
    {% include 'partial/ages-tabs/foundation2.twig' %}

    <div class="container">
    {#    <button class="infotab" type="button" data-toggle="collapse" data-target="#collapse__management-team"
                aria-expanded="true" aria-controls="collapse__management-team">
                <span class="infotab__title">
                    Meet our wonderful management team
                </span>
        </button>
        {% include 'partial/ages-tabs/babies-tabs/management-team.twig' %}

        <button class="infotab" type="button" data-toggle="collapse" data-target="#collapse__practitioners"
                aria-expanded="true" aria-controls="collapse__practitioners">
                <span class="infotab__title">
                    Meet our early-learning practitioners
                </span>
        </button>
        {% include 'partial/ages-tabs/babies-tabs/practitioners.twig' %}#}

        <button class="infotab" type="button" data-toggle="collapse" data-target="#collapse__approach"
                aria-expanded="true" aria-controls="collapse__approach">
                <span class="infotab__title">
                    Curriculum & learning approach
                </span>
        </button>
        {% include 'partial/ages-tabs/babies-tabs/approach.twig' %}

        <button class="infotab" type="button" data-toggle="collapse" data-target="#collapse__parent-communication"
                aria-expanded="true" aria-controls="collapse__parent-communication">
                <span class="infotab__title">
                    The Educore app - Parent communication
                </span>
        </button>
        {% include 'partial/ages-tabs/babies-tabs/parent-communication.twig' %}

        <button class="infotab" type="button" data-toggle="collapse" data-target="#collapse__our-outdoor"
                aria-expanded="true" aria-controls="collapse__our-outdoor">
                <span class="infotab__title">
                    Our outdoor
                </span>
        </button>
        {% include 'partial/ages-tabs/babies-tabs/our-outdoor.twig' %}

        <button class="infotab" type="button" data-toggle="collapse" data-target="#collapse__medical-clinic-nurse"
                aria-expanded="true" aria-controls="collapse__medical-clinic-nurse">
                <span class="infotab__title">
                    Medical clinic and nurse
                </span>
        </button>
        {% include 'partial/ages-tabs/babies-tabs/medical-clinic-nurse.twig' %}
    </div>


