<section class="events" id="events">
    <div class="container">
        <div class="events__heading">
            <h5 class="events__top_title">Upcoming Events</h5>
            <h1 class="events__title">
                Early Education
                <br> Beyond The Classroom
            </h1>
            <div class="events__text">
                With a blend of academic and enrichment activities, Odyssey Nursery provides children with extra
                opportunities to explore and interact with their environment. Get more details below.
            </div>
        </div>
        <div class="row justify-content-center">

            {% set items = [
                {
                    img_url: img_url ~ '/odn-LP-hero-banner.jpg',
                    top_title: '3rd Jul - 1 Sep 2023',
                    title: 'Summer Camp Dubai',
                    desc: 'Action Packed Summer Camp: Lights, Camera, Adventure!',
                    tick_items: [
                        '9 weeks of fun and learning',
                        'Open to 3 months to 6 years',
                        '10% early bird if you register before 31st May 2023',
                        'Friends & Family discount also available'
                    ],
                    cta: {
                    url: 'https://www.odysseynursery.com/lp/dubai-summer-camp/',
                    label: 'Learn More'
                    }
                },
                {
                    img_url: img_url ~ '/odn-LP-hero-banner.jpg',
                    top_title: '3rd Jul - 30 Aug 2023',
                    title: 'Summer Camp Abu Dhabi',
                    desc: 'Action Packed Summer Camp: Lights, Camera, Adventure!',
                    tick_items: [
                        '9 weeks of fun and learning',
                        'Open to 3 months to 6 years',
                        '10% early bird if you register before 31st May 2023',
                        'Friends & Family discount also available'
                    ],
                    cta: {
                    url: 'https://www.odysseynursery.com/lp/abudhabi-summer-camp/',
                    label: 'Learn More'
                    }
                },
            ] %}

            {% for item in items %}
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="events__item">
                        <div class="events__item_img">
                            <img src="{{ item.img_url }}">
                        </div>
                        <h6 class="events__item_subtitle">{{ item.top_title }}</h6>
                        <h4 class="events__item_title">{{ item.title }}</h4>
                        <div class="events__item_text">
                            {{ item.desc }}
                        </div>

                        <ul class="events__item_tick_list">
                            {% for tick_item in item.tick_items %}
                                <li>
                <span class="mr-3 d-flex align-items-center">
                    {% include 'raw-svg/tick-icon.twig' %}
                </span>
                                    {{ tick_item }}
                                </li>
                            {% endfor %}
                        </ul>

                        <a href="{{ item.cta.url }}" class="button button--secondary mt-4">{{ item.cta.label }}</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>