{% if posts.pagination.pages is not empty %}
	<section class="pagination">
		<div class="container">
			<ul class="d-flex flex-wrap justify-content-center">
        {% for page in pagination.pages %}
          {% if page.link %}
            <li>
              <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
            </li>
          {% else %}
            <li>
              <span class="{{ page.class }}">{{ page.title }}</span>
            </li>
          {% endif %}
        {% endfor %}
			</ul>
		</div>
	</section>
{% endif %}